{% import "visiosoft.theme.defaultadmin::macros/sections.twig" as menu %}

<aside id="menu" class="scrollbar">
    <ul>
        {% if not template.module.parent %}
            {% for section in template.cp.sections.root().visible() %}
                {{ menu.sections(template.cp.sections, section) }}
            {% endfor %}

            {% for navigation in getSubmenus(template.module.namespace) %}
                <li>
                    <a href="{{ url(navigation.href) }}">
                        {{ trans(navigation.title) }}
                    </a>
                </li>
            {% endfor %}
        {% else %}
            {% for navigation in getSections(template.module.parent) %}
                <li>
                    <a href="{{ url(navigation.href) }}">
                        {{ trans(navigation.title) }}
                    </a>
                </li>
            {% endfor %}
            {% for navigation in getSections(template.module.namespace) %}
                <li>
                    <a href="{{ url(navigation.href) }}">
                        {{ trans(navigation.title) }}
                    </a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</aside>
