<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<title>{{ trans('visiosoft.theme.defaultadmin::control_panel.title') }}
    &#8250; {{ trans(template.breadcrumbs.all()|keys|last)|raw }}</title>

{# Favicons #}
{{ favicons("visiosoft.theme.defaultadmin::img/favicon.png") }}

{{ asset_add("theme.css", "visiosoft.theme.defaultadmin::css/fonts.css", ["parse"]) }}
{{ asset_add("theme.css", "visiosoft.theme.defaultadmin::css/bootstrap.css") }}
{{ asset_add("theme.css", "visiosoft.theme.defaultadmin::css/select2.css") }}
{{ asset_add("theme.css", "visiosoft.theme.base::css/intlTelInput.css") }}


{{ asset_add(
    "build.css",
    "visiosoft.theme.defaultadmin::css/theme.css",
    [
        "required",
        "as:t4t5/sweetalert.css",
        "as:jshjohnson/Choices.css",
        "as:rstacruz/nprogress.css",
    ]
) }}

{{ asset_add("theme.js", "visiosoft.theme.defaultadmin::js/vendor/*") }}
{{ asset_add("theme.js", "visiosoft.theme.defaultadmin::js/theme/polyfills.js") }}
{{ asset_add("theme.js", "visiosoft.theme.defaultadmin::js/libraries/tether.min.js") }}

{{ asset_add(
    "theme.js",
    "visiosoft.theme.defaultadmin::js/libraries/*",
    [
        "required",
        "as:t4t5/sweetalert.js",
        "as:RubaXa/Sortable.js",
        "as:jshjohnson/Choices.js",
        "as:rstacruz/nprogress.js",
        "as:js-cookie/js-cookie.js",
        "as:ccampbell/mousetrap.js",
    ]
) }}

{# Need to figure out globing to scripts.js - ends up with a /* file #}
{{ asset_add("scripts.js", "visiosoft.theme.defaultadmin::js/theme/ajax.js") }}
{{ asset_add("scripts.js", "visiosoft.theme.defaultadmin::js/theme/confirm.js") }}
{{ asset_add("scripts.js", "visiosoft.theme.defaultadmin::js/theme/initialize.js") }}
{{ asset_add("scripts.js", "visiosoft.theme.defaultadmin::js/theme/keyboard.js") }}
{{ asset_add("scripts.js", "visiosoft.theme.defaultadmin::js/theme/modal.js") }}
{{ asset_add("scripts.js", "visiosoft.theme.defaultadmin::js/theme/prompt.js") }}
{{ asset_add("scripts.js", "visiosoft.theme.defaultadmin::js/theme/push.js") }}
{{ asset_add("scripts.js", "visiosoft.theme.defaultadmin::js/theme/search.js") }}
{{ asset_add("scripts.js", "visiosoft.theme.defaultadmin::js/theme/select2.js") }}
{{ asset_add("scripts.js", "visiosoft.theme.defaultadmin::js/theme/alert.js") }}
{{ asset_add("theme.js", "visiosoft.theme.base::js/jquery.maskedinput.js") }}
{{ asset_add("theme.js", "visiosoft.theme.base::js/intlTelInput.min.js") }}
{{ asset_add("theme.js", "visiosoft.theme.base::js/utils.js") }}
{{ asset_add("theme.js", "visiosoft.theme.base::js/phonefield.js") }}
{{ asset_script('visiosoft.theme.defaultadmin::js/visiosoft.js') }}
<style type="text/css">
    {{ asset_inline("theme.css") }}
    {{ asset_inline("build.css") }}
</style>

{% if locale().isRtl() %}
<style type="text/css">
    {{ asset_inline("visiosoft.theme.defaultadmin::css/bootstrap.rtl.css") }}
    {{ asset_inline("visiosoft.theme.defaultadmin::css/rtl.css") }}
</style>
{% endif %}

{{ constants() }}

{{ asset_script("theme.js") }}
{{ asset_script("visiosoft.js") }}