{% set entry_type = get_class(params.adv.getObject()) %}
{% set comment = getRating(entry_type, params.adv.id) %}
<input type="text" data-id="{{ params.adv.id }}" id="rate-{{ params.adv.id }}"  name="showRate" value="{{ comment.rating|length ? comment.rating : 0  }}" hidden>
<div id="showRate-{{ params.adv.id }}" class="showRate-{{ params.adv.id }} p-0 {{ params.class }}"></div>

{{ asset_add("scripts.js", "visiosoft.module.comments::js/rateyo.min.js") }}
{{ asset_add("scripts.js", "visiosoft.module.comments::js/rateyoVisiosoft.js") }}
{{ asset_add("styles.css", "visiosoft.module.comments::css/rateyo.css") }}