<div class="latest-ads-home">
    <div class="row mx-0 pl-2 pt-2 pr-2 pb-0 header-home-centent">
        <div class="col">
            <h3 class="p-0 latest-title">{{ trans('visiosoft.module.recommendedads::field.recommended.name') }}</h3>
        </div>
    </div>

    <div class="container">
        <div class="row list-classified-home">
            {% for recommended in recommendedads|slice(0, setting_value('visiosoft.module.recommendedads::limit')) %}
                <div class="col-xs-6 d-flex align-items-stretch p-0 home-classified-row">
                    <div class="mx-auto card mb-1 box-shadow border-0">
                        <div class="row px-1 py-2 classified-image">
                            <a href="{{ recommended.detail_url }}">
                                <div class="col-md-12 justify-content-center align-self-center">
                                    <img class="card-img-top img-fluid img-thumbnail"
                                         src="{{ recommended.cover_photo }}">
                                </div>
                            </a>
                        </div>

                        <div class="card-body px-2 py-0 classified-subject">
                            <div class="d-flex justify-content-between align-items-center text-truncate">
                                <a href="{{ recommended.detail_url }}" class="">
                                    <span class="card-title">{{ recommended.name }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
