<main id="main">
    <div class="container">
        <section id="main" class="clearfix details-page">
            <div class="container">
                <div class="classified-title row mx-0">
                    <div class="col-12 col-sm-6 p-0 m-0">
                        <h1>
                            {{ adv.title }}
                        </h1>
                    </div>

                    <div class="col-6 pt-3 m-0 justify-content-end pull-right d-none d-sm-flex">
                        {{ addBlock('ad-detail/title/action', {'adv_id':adv.id, 'sahibinden':true})|raw }}
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ url_current()|url_encode }}"
                           class="a-sahibinden-type pl-2">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="http://twitter.com/share?url={{ url_current()|url_encode }}"
                           class="a-sahibinden-type pl-2">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://wa.me/?text={{ setting_value('visiosoft.theme.sahibinden::shareWhatsappMsg')|url_encode }}%20{{ app.request.uri|url_encode }}" target="_blank" class="a-sahibinden-type pl-2">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </div>

                </div>
                <!--detail-ad -->
                <div class="section slider mb-4">
                    <div class="row">
                        {% include "visiosoft.theme.sahibinden::addons/visiosoft/advs-module/ad-detail/partials/slider" %}

                        <div class="col-md-3 pl-0">
                            {% include "visiosoft.theme.sahibinden::addons/visiosoft/advs-module/ad-detail/partials/detail" %}
                        </div>

                        <div class="col-md-3 px-0 classified-user-section">
                            <div class="userBox  d-none d-sm-block">
                                <div class="userDetail">
                                    <div class="border-bottom pb-3 mb-3">
                                        {{ addBlock('ad-details/user-image', {'userId': adv.created_by_id})|raw }}
                                        <h5 class="d-inline-block">{{ adv.first_name }} {{ adv.last_name }}</h5>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <p>{{ trans('visiosoft.theme.sahibinden::field.member_since.name') }} {{ user(adv.create_by_id).created_at|date('F Y') }}</p>
                                        {% if profile.file.url is not null %}
                                            <img src="{{ profile.file.url }}" class="user-profile-img">
                                        {% endif %}
                                    </div>
                                    <ul class="classified-owner-action list-unstyled">
                                        <li>
                                            {% include 'visiosoft.theme.sahibinden::addons/visiosoft/advs-module/ad-detail/partials/list-link' %}
                                        </li>
                                        {{ addBlock('ad-detail/seller/action',{'seller_id':adv.created_by_id, 'sahibinden':true})|raw }}
                                    </ul>
                                </div>
                                <div class="userDetail">
                                    {% set user = adv.created_by %}
                                    <ul class="list-unstyled classified-owner-contact">
                                        {% if user.gsm_phone is not null %}
                                            <li class="row">
                                                <div class="col-md-4 p-0 m-0">
                                                    <strong>
                                                        {{ trans('visiosoft.theme.sahibinden::field.mobile.name') }}
                                                    </strong>
                                                </div>
                                                <div class="col-md-8 p-0 m-0 text-right">{{ user.gsm_phone }}</div>
                                            </li>
                                        {% endif %}

                                        {% if user.office_phone is not empty %}
                                            <li class="row border-1 border-top">
                                                <div class="col-md-4 p-0 m-0">
                                                    <strong>
                                                        {{ trans('visiosoft.theme.sahibinden::field.office_phone.name') }}
                                                    </strong>
                                                </div>
                                                <div class="col-md-8 p-0 m-0 text-right">{{ user.office_phone }}</div>
                                            </li>
                                        {% endif %}

                                        {% if user.land_phone is not empty %}
                                            <li class="row border-1 border-top">
                                                <div class="col-md-4 p-0 m-0">
                                                    <strong>
                                                        {{ trans('visiosoft.theme.sahibinden::field.land_phone.name') }}
                                                    </strong>
                                                </div>
                                                <div class="col-md-8 p-0 m-0 text-right">{{ user.land_phone }}</div>
                                            </li>
                                        {% endif %}
                                    </ul>
                                    {% if user.gsm_phone is not null %}
                                        <div class="d-none">
                                            <input class="phoneCheck" type="hidden" value="{{ user.gsm_phone }}">
                                            {{ asset_add('scripts.js','visiosoft.theme.sahibinden::js/phoneCheck.js') }}
                                        </div>
                                        <div class="alert alert-info hidden alert-phoneNumber">
                                            <p>
                                                {{ trans('visiosoft.theme.sahibinden::message.invalid_phoneNumber') }}
                                            </p>
                                            {% if auth_check() %}
                                                <p>
                                                    <a href="{{ url_route('profile::profile') }}">
                                                        <b>
                                                            {{ trans('visiosoft.theme.sahibinden::button.update_profile') }}
                                                        </b>
                                                    </a>
                                                </p>
                                            {% endif %}
                                            </p>
                                        </div>
                                        <a href="https://wa.me/{{ user.gsm_phone|replace({'+': ""}) }}" target="_blank"
                                           class="whatsapp-link hidden">
                                            <button type="button" class="whatsapp-message btn position-relative">
                                                <i class="d-none d-lg-inline-block fab fa-whatsapp position-absolute"></i>
                                                {{ trans('visiosoft.theme.sahibinden::field.whatsapp') }}
                                            </button>
                                        </a>
                                    {% endif %}
                                    {{ addBlock('ad-detail/contact-with', {'adv': adv, 'showTheme': false})|raw }}
                                </div>
                            </div>
                            {{ addBlock('ad-detail/widget', {'ad': adv, 'price': adv.price, 'id': adv.id, 'cat1': categories['cat1']})|raw }}
                            {{ addBlock('ad-detail/widget-details', {'adv': adv})|raw }}
                            {% if setting_value('visiosoft.theme.sahibinden::show_security_tips') %}
                                <div class="security-tips d-none d-sm-block">
                                    <h6>
                                        {{ trans('visiosoft.theme.sahibinden::field.security_tips.name') }}
                                    </h6>
                                    <p>
                                        {{ setting_value('visiosoft.theme.sahibinden::security_tips_msg') }}
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!--detail-ad -->
                {% include "visiosoft.theme.sahibinden::addons/visiosoft/advs-module/ad-detail/partials/content" %}
            </div>
        </section>
    </div>
</main>
{% if user.gsm_phone is not null %}
    <div class="position-fixed w-100 d-block d-sm-none bg-light footer-mobile-device hidden">
        <div class="row m-0 py-2 justify-content-center">
            <div class="col pr-1">
                <a href="tel:{{ user.gsm_phone }}" class="btn btn-primary w-100">
                    <i class="fas fa-phone"></i>
                    {{ trans('visiosoft.theme.sahibinden::field.contact_us.name') }}
                </a>
            </div>
            <a href="https://wa.me/{{ user.gsm_phone|replace({'+': ""}) }}" target="_blank"
               class="whatsapp-link hidden col pl-1">
                <button type="button" class="whatsapp-message mt-0 btn position-relative">
                    <i class="fab fa-whatsapp"></i>
                    {{ trans('visiosoft.theme.sahibinden::field.whatsapp') }}
                </button>
            </a>
        </div>
    </div>
{% endif %}

{% include "visiosoft.module.advs::ad-detail/partials/dropleft-edit" %}