{{ addBlock('ad-list/partials/ads',{'featured_advs':featured_advs})|raw }}
{% for adv in advs %}
    <div class="col-md-12 mb-2 list-classified bg-light">
        <a href="{{ adv.detail_url }}" class="text-dark">
            <div class="row{{ adv.doping_type ? ' doping_type' ~ adv.doping_type }}">
                <div class="col-md-2 justify-content-center align-self-center text-center border-right border-white">
                    <img class="img-thumbnail lazy" src="{{ img('visiosoft.theme.base::images/no-image.png').url }}"
                         data-src="{{ adv.cover_photo }}" alt="{{ adv.name }}"
                         style="max-height:80px;">
                </div>
                <div class="col-md-7 justify-content-center align-self-center border-right border-white">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="mb-0">{{ adv.name }}</p>
                        </div>
                        <div class="col-md-12 text-truncate">
                            <small class="text-muted">{{ adv.cat1_name }}, {{ adv.cat2_name }}</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-left justify-content-center align-self-center">
                    <div class="row">
                        <div class="col-md-12">
                            {% if not setting_value('visiosoft.module.advs::hide_listing_standard_price') %}
                                <p class="theme-price-old small mb-0"><del>
                                        {{ adv.standard_price != adv.price and adv.standard_price != '0'
                                        ? currency_format(adv.standard_price,adv.currency)
                                        : '' }}
                                </del></p>
                            {% endif %}
                            <b>{{ adv.price != '0'
                                    ? currency_format(adv.price,adv.currency)
                                    : trans('visiosoft.module.advs::field.free') }}</b>
                        </div>
                        {% if setting_value('visiosoft.module.location::list_page_location') %}
                            <div class="col-md-12 justify-content-center align-self-center text-truncate">
                                <small>{{ adv.city_name }} {{ adv.country_name }}</small>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </a>
        <div class="row mb-2">
            <div class="col-md-2"></div>
            <div class="col-md-7 justify-content-center align-self-center border-right border-white">
                {{ addBlock('list/extra-actions', {'ad': adv})|raw }}
            </div>
        </div>
    </div>
{% endfor %}
