{{ addBlock('ad-list/partials/ads',{'featured_advs':featured_advs})|raw }}
{% for adv in advs %}
    <div class="col-md-12 mb-2 list-classified">
        <a href="{{ adv.detail_url }}" class="text-dark">
            <div class="row bg-light{% if adv.doping != null %} doping_type4 {% endif %}">
                <div class="col-md-2 justify-content-center align-self-center text-center border-right border-white">
                    <img class="img-thumbnail" src="{{ adv.cover_photo }}" alt="{{ adv.name }}"
                         style="max-height:80px;">
                </div>
                <div class="col-md-7 justify-content-center align-self-center border-right border-white">
                    <div class="row">
                        <div class="col-md-12">
                            <p>{{ adv.name }}</p>
                        </div>
                        <div class="col-md-12 text-truncate">
                            <small class="text-muted">{{ adv.cat1_name }}, {{ adv.cat2_name }}</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-left justify-content-center align-self-center">
                    <div class="row">
                        <div class="col-md-12">
                            <b>{{ adv.price.currency }}</b>
                        </div>
                        {% if setting_value('visiosoft.module.location::list_page_location') %}
                            <div class="col-md-12 justify-content-center align-self-center text-truncate">
                                <small>{{ adv.city_name }} {{ adv.country_name }}</small>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </a>
    </div>
{% endfor %}
