<nav aria-label="breadcrumb" class="d-none d-sm-block">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url('') }}" class="text-dark">
                <i class="fas fa-home"></i>
                {{ trans("visiosoft.module.advs::field.home") }}
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ url_route('visiosoft.module.advs::list') }}" class="text-dark">
                {{ trans("visiosoft.module.advs::field.list") }}
            </a>
        </li>

        {{ addBlock('ads-list/partials/breadcrumb',{'mainCats':mainCats})|raw }}

    </ol>
</nav>