<div class="row text-center">
    <div class="col-3">
        {% if setting_value('visiosoft.module.location::list_page_location') %}
            <a href="{{ url_route('visiosoft.module.advs::view_type',['map']) }}" class="text-dark">
                <i class="fas fa-location-arrow text-primary"></i>
                <small>{{ trans("visiosoft.module.advs::field.show_display_mode.map") }}</small>
            </a>
        {% endif %}
    </div>
    <div class="col-3">
        <a href="{{ url_route('visiosoft.module.advs::view_type',['list']) }}" class="text-dark">
            <i class="fa fa-list-ul"></i>
            <small>{{ trans('visiosoft.module.advs::field.show_list_view.name') }}</small>
        </a>
    </div>
    <div class="col-3">
        <a href="{{ url_route('visiosoft.module.advs::view_type',['table']) }}" class="text-dark">
            <i class="fa fa-table"></i>
            <small>{{ trans('visiosoft.module.advs::field.show_table_view.name') }}</small>
        </a>
    </div>
    <div class="col-3">
        <a href="{{ url_route('visiosoft.module.advs::view_type',['gallery']) }}" class="text-dark">
            <i class="fas fa-boxes"></i>
            <small> {{ trans('visiosoft.module.advs::field.gallery') }}</small>
        </a>
    </div>
</div>