{% for adv in featured_advs %}

    {% if adv.doping != null %}
        <div class="oc-item1 featured_adv_item row">
    {% else %}
        <div class="oc-item1 row">
    {% endif %}
    <!-- item-image -->
    <div class="item-image-box col-sm-4">
        <div class="item-image">
            <a href="{{ adv.detail_url }}">
                {% set advPhoto = adv.cover_photo %}
                {% if adv.is_get_adv == "1" and adv.stock == "0" and entries('advs').isEnabled('carts') %}
                    <div class="corner-ribbon top-right sticky blue">{{ trans('visiosoft.module.advs::field.sold_out.name') }}</div>
                {% endif %}
                <img src="{{ adv.cover_photo }}" alt="Image" class="img-responsive"></a>
        </div><!-- item-image -->
    </div>

    <!-- rending-text -->
    <div class="item-info col-sm-8">
        <!-- ad-info -->
        <div class="ad-info">
            <h3 class="item-price">{{ adv.price }} {{ adv.currency }}</h3>
            <h4 class="item-title bengali"><a
                        href="{{ adv.detail_url }}">{{ adv.name }}</a></h4>
            <div class="item-cat">
                <span><a href="#">{{ adv.cat1_name }}</a></span>
                {% if adv.cat2_name != "" %}
                    / <span><a href="#">{{ adv.cat2_name }}</a></span>
                {% endif %}
            </div>
        </div><!-- ad-info -->

        <!-- ad-meta -->
        <div class="ad-meta">
            <div class="meta-content">
                                                    <span class="dated"><a
                                                                href="#">{{ adv.created_at|date("d/m/Y") }} </a></span>
            </div>
            <!-- item-info-right -->
            <div class="user-option pull-right">
                {% if adv.isAdVideo is defined and adv.isAdVideo != null %}
                    <a data-toggle="tooltip" data-id="{{ adv.id }}"
                       class="ad-info-right-bar-video" data-placement="top"
                       title="<video controls loop class='img-responsive video-ad-tooltip-{{ adv.id }}' style='text-align: center; width: 100%'>
                                                    <source src='{{ adv.isAdVideo }}' class='video-src' type='video/mp4' />
                                                    </video>">
                        <i class="fa fa-film"></i> </a>
                {% endif %}
                <a href="{{ url_route('visiosoft.module.advs::show_ad_map_location',[adv.country_id,adv.city,adv.district]) }}"
                   data-toggle="tooltip" data-placement="top"
                   title="{{ adv.city_name }}, {{ adv.country_name }}"><i
                            class="fa fa-map-marker"></i> </a>
                <a class="online" href="" data-toggle="tooltip" data-placement="top"
                   title="{{ adv.owner }}"><i class="fa fa-user"></i> </a>

                {% if entries('advs').isEnabled('comparisons') %}

                    {% include "visiosoft.module.comparisons::comparebtn" %}

                {% endif %}
            </div><!-- item-info-right -->
        </div><!-- ad-meta -->
    </div><!-- item-info -->
    </div><!-- oc-item -->
{% endfor %}