<form action="{{ url_route('visiosoft.module.advs::list') }}" method="get">
    <div class="row">
        <input type="hidden" name="cat" value="{{ app.request.get('cat') }}">
        <input type="hidden" name="user" value="{{ app.request.get('user') }}">
        <div class="col-md-12 px-4">
            <div class="row">
                <div id="filter" class="w-100 mb-3">

                    {{ addBlock('ads-list/partials/list-filter',{'mainCats':mainCats,'subCats':subCats,'ranges':ranges,'checkboxes':checkboxes})|raw }}

                    <div class="card mb-3">
                        <div class="card-header breadcrumb mb-0" id="priceHeading">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#price"
                                        aria-expanded="true" aria-controls="price">
                                    <i class="fas fa-money-bill"></i>
                                    {{ trans("visiosoft.module.advs::field.price.name") }}
                                </button>
                            </h5>
                        </div>
                        <div id="price" class="collapse show overflow-auto" aria-labelledby="priceHeading"
                             data-parent="#filter"
                             style="max-height: 300px;">
                            <div class="row p-0 m-0">
                                {% set active_currencies = setting_value('visiosoft.module.advs::enabled_currencies') %}
                                <div class="col-md-4 p-1 m-0">
                                    <input type="number" class="price-input form-control w-100"
                                           value="{{ request.min_price }}"
                                           name="min_price" min="0"
                                           placeholder="{{ trans('visiosoft.module.advs::field.min.name') }}">
                                </div>
                                <div class="col-md-4 p-1 pr-0 m-0">
                                    <input class="price-input form-control w-100" type="number"
                                           value="{{ request.max_price }}"
                                           name="max_price"
                                           placeholder="{{ trans('visiosoft.module.advs::field.max.name') }}">

                                </div>
                                <div class="col-md-4 py-1 px-0">
                                    <select name="currency" id="currency" class="form-control">
                                        {% for currency in active_currencies %}
                                            <option value="{{ currency }}">{{ currency }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header bg-primary text-center" id="submitHeading">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-white w-100">
                                    <i class="fas fa-search"></i>
                                    {{ trans("visiosoft.module.advs::field.search") }}
                                </button>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>