<div id="price" class="border rounded filter-box p-3 mb-3">
    <div class="d-flex align-items-center justify-content-between px-2 border-bottom mb-3 pb-1">
        <p>{{ trans("visiosoft.module.advs::field.price.name") }}</p>
        {{ img('visiosoft.module.advs::images/listing/filter-arrow.svg').data|raw }}
    </div>

    <div class="px-3 mb-1">

        <div id="priceInputWrapper" class="d-flex justify-content-around mt-3 range-input-wrapper">
            <input type="number" class="border-0 shadow-sm rounded px-3 py-1" name="min_price" min="0"
                   placeholder="{{ trans('visiosoft.module.advs::field.min.name') }}"
                   value="{{ app.request.get('min_price') }}">
            <input type="number" class="border-0 shadow-sm rounded px-3 py-1" name="max_price"
                   placeholder="{{ trans('visiosoft.module.advs::field.max.name') }}"
                   value="{{ app.request.get('max_price') }}">
        </div>
    </div>
</div>
