<div class="widget card" data-id="{{ widget.id }}">

    <div class="{{ widget.sortable ? 'handle' }} card-header">
        <h5 class="card-title">

            {{ widget.title }}

            {% if widget.description %}

                <br>

                <small>
                    {{ widget.description }}
                </small>
            {% endif %}
        </h5>
    </div>

    <div class="card-block">
        {{ widget.content|raw }}
    </div>

</div>
