<ul class="social-links col-md-12 text-center">
    {% if setting_value('visiosoft.extension.github_provider::client_id') != "" %}
        <li class="col-md-1 col-xs-1"><a
                    href="{{ url_route('visiosoft.module.social::providers.auth', {'provider': 'github'}) }}">
                <i class="fa fa-github" aria-hidden="true"></i></a></li>
    {% endif %}
    {% if setting_value('visiosoft.extension.google_provider::client_id') != "" %}
        <li class="col-md-1 col-xs-1"><a
                    href="{{ url_route('visiosoft.module.social::providers.auth', {'provider': 'google'}) }}">
                <i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
    {% endif %}
    {% if setting_value('visiosoft.extension.facebook_provider::client_id') != "" %}
        <li class="col-md-1 col-xs-1"><a
                    href="{{ url_route('visiosoft.module.social::providers.auth', {'provider': 'facebook'}) }}">
                <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    {% endif %}
    {% if setting_value('visiosoft.extension.twitter_provider::client_id') != "" %}
        <li class="col-md-1 col-xs-1"><a
                    href="{{ url_route('visiosoft.module.social::providers.auth', {'provider': 'twitter'}) }}">
                <i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    {% endif %}
    {% if setting_value('visiosoft.extension.linkedin_provider::client_id') != "" %}
        <li class="col-md-1 col-xs-1"><a
                    href="{{ url_route('visiosoft.module.social::providers.auth', {'provider': 'linkedin'}) }}">
                <i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
    {% endif %}
    {% if setting_value('visiosoft.extension.reddit_provider::client_id') != "" %}
        <li class="col-md-1 col-xs-1"><a
                    href="{{ url_route('visiosoft.module.social::providers.auth', {'provider': 'reddit'}) }}">
                <i class="fa fa-reddit" aria-hidden="true"></i></a></li>
    {% endif %}
    {% if setting_value('visiosoft.extension.instagram_provider::client_id') != "" %}
        <li class="col-md-1 col-xs-1"><a
                    href="{{ url_route('visiosoft.module.social::providers.auth', {'provider': 'instagram'}) }}">
                <i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    {% endif %}
    {% if setting_value('visiosoft.extension.pinterest_provider::client_id') != "" %}
        <li class="col-md-1 col-xs-1"><a
                    href="{{ url_route('visiosoft.module.social::providers.auth', {'provider': 'pinterest'}) }}">
                <i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
    {% endif %}
    {% if setting_value('visiosoft.extension.meetup_provider::client_id') != "" %}
        <li class="col-md-1 col-xs-1"><a
                    href="{{ url_route('visiosoft.module.social::providers.auth', {'provider': 'meetup'}) }}">
                <i class="fa fa-meetup" aria-hidden="true"></i></a></li>
    {% endif %}
</ul>
