<h5 class="pb-1 border-bottom">{{ trans('visiosoft.module.advs::field.contact_info') }}</h5>
<div class="px-3 bg-light row justify-content-center m-0">
    <div class="col-md-9 col-lg-7 border my-4 bg-white py-3 row m-0 px-0 editContact rounded">
        <div class="col-12 row m-0 border-bottom py-2">
            <div class="col-12 col-md-4 pl-0">
                <label class="mb-0 font-weight-bold">
                    {{ trans('visiosoft.module.profile::field.first_name.name') }}
                    {{ trans('visiosoft.module.profile::field.last_name.name') }}:
                </label>
            </div>
            <div class="col-12 col-md-8 infoName">
                {{ getProfileDetail(auth_user().id).first_name }}
                {{ getProfileDetail(auth_user().id).last_name }}
            </div>
        </div>
        <div class="col-12 row m-0 border-bottom py-1">
            <div class="col-12 col-md-4 pl-0">
                <label class="mb-0 font-weight-bold">{{ trans('visiosoft.module.profile::field.gsm_phone.name') }}</label>
            </div>
            <div class="col-12 col-md-8 infoGsmPhone">
                {{ getProfileDetail(auth_user().id).gsm_phone }}
            </div>
        </div>
        <div class="col-12 row m-0 border-bottom py-1">
            <div class="col-12 col-md-4 pl-0">
                <label class="mb-0 font-weight-bold">{{ trans('visiosoft.module.profile::field.office_phone.name') }}</label>
            </div>
            <div class="col-12 col-md-8 infoOfficePhone">
                {{ getProfileDetail(auth_user().id).office_phone }}
            </div>
        </div>
        <div class="col-12 row m-0 py-1">
            <div class="col-12 col-md-4 pl-0">
                <label class="mb-0 font-weight-bold">{{ trans('visiosoft.module.profile::field.land_phone.name') }}</label>
            </div>
            <div class="col-12 col-md-8 infoLandPhone">
                {{ getProfileDetail(auth_user().id).land_phone }}
            </div>
        </div>
        <p class="px-3 py-2">
            <a href="#" class="editInformationUser">
                <i class="fas fa-pen"></i>
                {{ trans('visiosoft.module.advs::field.update_my_contact_info') }}
            </a>
        </p>
    </div>
</div>