{% extends "theme::layouts/default" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-12 text-left p-3 m-0 row justify-content-center">

            <div class="col-12 col-lg-5 m-3 login-section">
                {% set form = form('login')
                    .redirect(app.request.get('redirect'))
                    .get() %}
                {{ form_open({
                    'class':'aaa',
                    'url':form.options.url
                })|raw }}
                <div class="col-12 pt-4 pt-lg-0">
                    <h5 class="text-center">
                        {{ trans('visiosoft.theme.base::button.login') }}
                    </h5>
                    <div class="form-group email-field email-field_type">
                        <label class="control-label">
                            {{ trans('visiosoft.theme.base::field.email') }}
                            <span class="required">*</span>
                        </label>

                        <div class="input-wrapper">
                            {{ form.fields.email.input|raw }}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group password-field password-field_type">
                        <div class="col-12 p-0 row m-0">
                            <div class="col-6 p-0">
                                <label class="control-label">
                                    {{ trans('visiosoft.theme.base::field.password') }}
                                    <span class="required">*</span>
                                </label>
                            </div>
                            <div class="col-6 p-0 text-right">
                                <a href="{{ url_route('anomaly.module.users::password.forgot') }}">
                                    <small class="text-muted">
                                        {{ trans('visiosoft.theme.base::field.forgot_password') }}
                                    </small>
                                </a>
                            </div>
                        </div>

                        <div class="input-wrapper">
                            {{ form.fields.password.input|raw }}
                        </div>
                    </div>
                </div>
                <div class="col-12 row m-0 pb-4 pb-lg-0">
                    <button class="btn btn-sm btn-primary font-weight-bolder w-100 py-3">
                        <i class="fas fa-key"></i>
                        {{ trans('visiosoft.theme.base::button.login') }}
                    </button>
                </div>
                <div class="col-12 py-2">
                    <label class="c-input c-checkbox">
                        <input value="0" type="hidden" name="remember_me">
                        <input type="checkbox" name="remember_me">
                        <span class="c-indicator"></span>
                        {{ trans('visiosoft.theme.base::field.remember_me') }}
                    </label>
                </div>
                <div class="social-login py-2 row">
                    {{ addBlock('login/oauth')|raw }}
                </div>
            </div>


            <div class="col-12 col-lg-5 m-3 py-4 row register-section align-items-center">
                <div class="col-12 text-center">
                    <h3 class="py-2">{{ trans('visiosoft.theme.base::field.not_a_member_yet') }}?</h3>
                    <p class="py-2">{{ trans('visiosoft.theme.base::field.not_a_member_yet_message') }}.</p>
                    <a href="{{ url('register') }}"
                       class="btn btn-sm btn-white font-weight-bolder border text-primary w-100 py-3 mt-1">
                        <i class="fas fa-user-plus"></i>
                        {{ trans('visiosoft.theme.base::button.register') }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}