{% extends "theme::layouts/default" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 text-left bg-light p-3 m-0">
            {% set form = form('login').redirect(request_get('redirect', '/'))
                .actions(
                {'submit':
                    {'type':'primary',
                        'text':'<i class="fas fa-key"></i> '~trans('anomaly.module.users::button.login'),
                        'class':'w-100 py-2'
                    }
                }).get() %}
            {{ form_open({
                'class': 'row form ' ~ form.options.class ,
                'enctype': 'multipart/form-data',
                'url': 'advs/save_adv',
            })|raw }}
            <div class="col-12">
                {{ form.fields.email|raw }}
            </div>
            <div class="col-12">
                {{ form.fields.password|raw }}
            </div>
            <div class="col-12">
                <label class="c-input c-checkbox">
                    <input value="0" type="hidden" name="remember_me">
                    <input type="checkbox" name="remember_me">
                    <span class="c-indicator"></span>
                    {{ trans('anomaly.module.users::field.remember_me.name') }}
                </label>
            </div>
            <div class="col-12 row m-0">
                <div class="col-6 pl-0 pr-1">
                    {{ form.actions|raw }}
                </div>
                <div class="col-6 pr-0 pl-1">
                    <a href="{{ url('register') }}" class="btn btn-sm btn-success  w-100 py-2">
                        <i class="fas fa-user-plus"></i>
                        {{ trans('anomaly.module.users::button.register') }}
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}