{% extends "theme::layouts/default" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 text-left bg-light p-3 m-0">
            {% set form = form('register').redirect(request_get('redirect', '/'))
                .get() %}
            {{ form_open({
                'class': 'row form ' ~ form.options.class ,
                'enctype': 'multipart/form-data',
                'url':form.options.url
            })|raw }}
            <div class="col-12">
                <div class="form-group display_name-field display_name-field_type">
                    <label class="control-label">
                        {{ trans('visiosoft.theme.base::field.display_name') }}
                        <span class="required">*</span>
                    </label>

                    <div class="input-wrapper">
                        {{ form.fields.display_name.input|raw }}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group username-field username-field_type">
                    <label class="control-label">
                        {{ trans('visiosoft.theme.base::field.username') }}
                        <span class="required">*</span>
                    </label>

                    <div class="input-wrapper">
                        {{ form.fields.username.input|raw }}
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="form-group email-field email-field_type">
                    <label class="control-label">
                        {{ trans('visiosoft.theme.base::field.email') }}
                        <span class="required">*</span>
                    </label>

                    <div class="input-wrapper">
                        {{ form.fields.email.input|raw }}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group password-field password-field_type">
                    <label class="control-label">
                        {{ trans('visiosoft.theme.base::field.password') }}
                        <span class="required">*</span>
                    </label>

                    <div class="input-wrapper">
                        {{ form.fields.password.input|raw }}
                    </div>
                </div>
            </div>
            <div class="col-12 row m-0">
                <div class="col-6 pr-0 pl-1">
                    <button class="btn btn-sm btn-success  w-100 py-2">
                        <i class="fas fa-user-plus"></i>
                        {{ trans('visiosoft.theme.base::button.register') }}
                    </button>

                </div>
                <div class="col-6 pr-0 pl-1">
                    <a href="{{ url('login') }}" class="btn btn-sm btn-primary  w-100 py-2">
                        <i class="fas fa-key"></i>
                        {{ trans('visiosoft.theme.base::button.login') }}
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}