{% set logo_web = file(setting_value('visiosoft.theme.sahibinden::logo_web')).make.url %}
{% set logo_mobile = file(setting_value('visiosoft.theme.sahibinden::logo_mobile')).make.url %}
{% if logo_web is null %}
    {% set logo_web = img('visiosoft.theme.sahibinden::images/logo_web.png').url %}
{% endif %}
{% if logo_mobile is null %}
    {% set logo_mobile = img('visiosoft.theme.sahibinden::images/logo_mobile.png').url %}
{% endif %}

<nav class="navbar navbar-expand-lg navbar-dark navbar-sahibinden">


    {#    {{ addBlock('autocomplete')|raw }} #}

    <div class="container navigation-first">
        <!-- Mobile nav -->
        {% if (request_path() != '/') %}
        <div class="col-3 p-0 d-block d-sm-none">
            <button onclick="history.back()"
                    class="img-responsive d-block d-sm-none logo-mobile navbar-brand py-0 back-button"><i
                        class="fas fa-lg fa-chevron-left"></i></button>
        </div>
        <div class="col-3 p-0 d-flex align-items-center justify-content-center
                            justify-content-md-start text-center">
            {% else %}
            <div class="col-3 p-0 d-flex align-items-center text-center">
                {% endif %}
                <a class="navbar-brand mr-0 py-0"
                   href="{{ app.request.getScheme ~ '://' ~ setting_value('streams::domain') }}">
                    <img class="img-responsive d-none d-sm-block logo-web" alt="web logo"
                         src="{{ logo_web }}">
                    <img class="img-responsive d-block d-sm-none logo-mobile" alt="mobile logo"
                         src="{{ logo_mobile }}">
                </a>
            </div>
            <!-- End mobile nav -->

            <div class="collapse navbar-collapse d-lg-flex justify-content-lg-between">
                <form class="my-2 my-lg-0 position-relative home-page-search-form d-flex justify-content-center mr-2"
                      action="{{ url_route('visiosoft.module.advs::list') }}" method="get">

                    <input class="h-100" id="search" type="search" name="keyword" aria-label="Search"
                           placeholder="{{ trans('visiosoft.theme.sahibinden::message.navigation_search_placeholder') }}">
                    <button class="btn" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <span class="d-flex">
{#                    {{ addBlock('navigation/navigation',{},['messages'])|raw }}#}
                    {% if setting_value('visiosoft.theme.sahibinden::show_cart') %}
{#                        {{ addBlock('navigation/navigation',{},['carts'])|raw }}#}
                    {% endif %}
            </span>
            </div>
            <div class="d-none d-sm-block">
                <ul class="nav navbar-nav navbar-right flex-row user-nav-menu flex-nowrap align-items-center">
                    <li class="nav-item m-2">
                        <a class="border-right border-secondary p-1 pr-2 item-menu text-nowrap" rel="nofollow"
                           href="{{ url_route('anomaly.module.users::login') }}">
                            {{ trans('visiosoft.theme.sahibinden::button.login.name') }}
                        </a>
                    </li>
                    <li class="nav-item mt-2 mb-2 mr-0 text-nowrap">
                        <a class="p-1 item-menu" rel="nofollow" href="{{ url('register') }}">
                            {{ trans('visiosoft.theme.sahibinden::button.register.name') }}
                        </a>
                    </li>
                    <li class="nav-item post-free-btn">
                        <a href="{{ app.request.getScheme ~ '://' ~ setting_value('streams::domain') ~ '/advs/create_adv' }}"
                           rel="nofollow" class="btn ml-3 mt-1 item-menu">
                            {{ trans("visiosoft.theme.sahibinden::button.post_ad.name") }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
</nav>

{% include 'visiosoft.theme.sahibinden::partials/share-modal' %}

<script>
    let profileAdsRoute = `{{ url_route('profile::ads') }}`;
    let advsTrans = `{{ trans('visiosoft.theme.sahibinden::button.ads') }}`;
    let profileRoute = `{{ url_route('profile::profile') }}`;
    let accountTrans = `{{ trans('visiosoft.theme.sahibinden::button.account') }}`;
    let logoutRoute = `{{ url_route('anomaly.module.users::logout') }}`;
    let logoutTrans = `{{ trans('visiosoft.theme.sahibinden::button.logout.name') }}`;
    let createAdvRoute = `{{ url_route('advs::create_adv') }}`;
    let postAdvTrans = `{{ trans("visiosoft.theme.sahibinden::button.post_ad.name") }}`;
</script>
{{ asset_add("scripts.js", "visiosoft.theme.sahibinden::js/userAuth.js") }}
