{% if auth_user().id == classified.created_by_id or auth_user().hasPermission('visiosoft.module.classifieds::classifieds.write') %}
    <div class="btn-group dropleft dropleft-edit position-fixed">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ trans('visiosoft.module.classifieds::field.classified_actions') }}
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/classifieds/edit_classifieds/{{ classified.id }}">
                <i class="fas fa-pencil-alt"></i>
                {{ trans('visiosoft.module.classifieds::field.edit') }}
            </a>
            {% if classified.status != "pending_admin" and classified.status != "approved" %}
                <a class="dropdown-item"
                   href="{{ url_route('visiosoft.module.classifieds::status',[classified.id,"pending_admin"]) }}">
                    <i class="fa fa-eye"></i>
                    {{ trans('visiosoft.module.classifieds::field.approve') }}
                </a>
            {% else %}
                <a class="dropdown-item" href="{{ url_route('visiosoft.module.classifieds::status',[classified.id,"passive"]) }}">
                    <i class="fa fa-ban"></i>
                    {{ trans('visiosoft.module.classifieds::field.passive') }}
                </a>
            {% endif %}
            {% if classified.status != 'sold' and classified.is_get_classified != '1' %}
                <a class="dropdown-item" href="{{ route('visiosoft.module.classifieds::status',[classified.id,"sold"]) }}">
                    <i class="fa fa-gavel"></i>
                    {{ trans('visiosoft.module.classifieds::field.sold') }}
                </a>
            {% endif %}
        </div>
    </div>
    {{ asset_add("styles.css", "visiosoft.module.classifieds::css/dropleft-edit.css") }}
{% endif %}