{{ asset_add('styles.css', 'anomaly.field_type.files::css/upload.css') }}

{{ asset_add('scripts.js', 'anomaly.field_type.files::js/dropzone.min.js') }}
{{ asset_add('scripts.js', 'anomaly.field_type.files::js/upload.js') }}

{% for style in asset_styles("styles.css") %}
    {{ style|raw }}
{% endfor %}

{% for script in asset_scripts("scripts.js") %}
    {{ script|raw }}
{% endfor %}

<div id="upload">

    {% include "anomaly.field_type.files::upload/partials/header" %}
    {% include "anomaly.field_type.files::upload/partials/body" %}
    {% include "anomaly.field_type.files::upload/partials/template" %}

    <div class="uploaded">
        {{ table.content|raw }}
    </div>

</div>
