{% if app.auth.id == adv.created_by_id %}
    <div class="breadcrumb bg-dark justify-content-end mt-3 mb-0">
        {{ addBlock('ad-detail/partials/author-button', {'adv_id': adv.id})|raw }}
        <a class="btn btn-info edit-adv-btn mr-2" href="/advs/edit_advs/{{ adv.id }}">
            <i class="fas fa-pencil-alt"></i>
            <font>{{ trans('visiosoft.module.advs::field.edit') }}</font>
        </a>
        {% if adv.status != "pending_admin" and adv.status != "approved" %}
            <a class="btn btn-success approve-adv-btn mr-2"
               href="{{ url_route('visiosoft.module.advs::status',[adv.id,"pending_admin"]) }}">
                <i class="fa fa-eye"></i>
                <font>{{ trans('visiosoft.module.advs::field.approve') }}</font>
            </a>
        {% else %}
            <a class="btn btn-danger passive-adv-btn mr-2"
               href="{{ url_route('visiosoft.module.advs::status',[adv.id,"passive"]) }}">
                <i class="fa fa-ban"></i>
                <font>{{ trans('visiosoft.module.advs::field.passive') }}</font>
            </a>
        {% endif %}
    </div>
{% endif %}
