<div class="description-info">
    <div class="row">
        <div class="col-md-8">
            <div class="description">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab"
                                          href="#description">{{ trans('visiosoft.module.advs::field.description.name') }}</a>
                    </li>
                    {% if features != null %}
                        {% if entries('advs').isEnabled('customfields') %}
                            <li class=""><a data-toggle="tab"
                                            href="#features">{{ trans('visiosoft.module.advs::field.features') }}</a>
                            </li>
                        {% endif %}
                    {% endif %}

                    {% if entries('advs').isEnabled('streetview') and adv.map_Val != "" %}
                        <li class=""><a data-toggle="tab" href="#streetviewtab"
                                        id="streetviewlink">{{ trans('visiosoft.module.advs::field.streetview') }}</a>
                        </li>
                    {% endif %}

                    {% if entries('advs').isEnabled('comments') %}
                        <li class=""><a data-toggle="tab" href="#commenttab"
                                        id="">{{ trans('visiosoft.module.comments::field.comment') }}</a>
                        </li>
                    {% endif %}
                    {% if entries('advs').isEnabled('pricehistory') %}
                        {% include "visiosoft.module.pricehistory::tab" %}
                    {% endif %}

                </ul>

                <div class="tab-content">
                    <div id="description" class="tab-pane fade in active">
                        <div class="description">
                            <h4>{{ trans('visiosoft.module.advs::field.description.name') }}</h4>
                            <p>{{ adv.advs_desc|raw }}</p>
                        </div>
                    </div>
                    {% if features != null %}
                        {% if entries('advs').isEnabled('customfields') %}
                            {% include "visiosoft.module.customfields::list-item" %}
                        {% endif %}
                    {% endif %}
                    {% if adv.map_Val != "" and setting_value('visiosoft.module.location::detail_page_location') %}
                        <div id="streetviewtab" class="tab-pane fade in">
                            <div id="map" data-map-val="{{ adv.map_Val }}"></div>
                            {% if entries('advs').isEnabled('streetview') %}
                                <div id="pano"></div>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if entries('advs').isEnabled('comments') %}
                        {% include "visiosoft.module.comments::comments" %}
                    {% endif %}

                    {% if entries('advs').isEnabled('pricehistory') %}
                        {% include "visiosoft.module.pricehistory::content" %}
                    {% endif %}


                </div>
            </div>
        </div>

        <div class="col-md-4">
            {% if tags != null %}
                <div class="short-info">
                    <h4>{{ trans('visiosoft.module.advs::field.short_info') }}</h4>
                    <ul>
                        {% for key,value in tags %}
                            <p><strong>{{ key }}: {{ value[0] }}</strong></p>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="recommended-cta">
                {{ blocks('list-item-right-sidebar') }}
            </div>
        </div>
    </div>
</div>