<div class="{{ container.class }}">
  <button class="{{ toggle.class }}" type="button" data-toggle="dropdown">
  	{{ toggle.title|raw }}
  </button>
  <ul class="{{ ul.class }}">
  	{% for locale in locales %}
  		<li><a href="{{ locale.url }}">{{ locale.name }}</a></li>
  	{% endfor %}
  </ul>
</div>