{% extends "theme::list/list" %}
{% block listContent %}

    <div class="category-info">
        <div class="row">

            {% include "theme::list/partials/user-section" %}

            <form action="{{ url_route('visiosoft.module.advs::list') }}" method="get">

                {% include "visiosoft.theme.base::list/partials/list-filter" %}

                <div class="col-sm-8 col-md-9">
                    <div class="section recommended-ads">

                        <div class="row">

                            <div class="col-md-6">
                                    {% include "theme::list/partials/list-sort-by" %}
                            </div>
                            <div class="col-md-6">
                                {% include "visiosoft.theme.base::list/partials/display-mode" %}

                            </div>
                        </div>



                        {% if entries('advs').isEnabled('customfields') %}
                            {% include "visiosoft.module.customfields::selecttop" %}
                        {% endif %}
                        <div class="category-tabs">

                        </div>
                        <div class="table-responsive">

                            <table class="table ads-list-table">
                                <thead>
                                <tr>
                                    <th scope="col" colspan="2"
                                        class="text-center">{{ trans('visiosoft.module.advs::field.advs_list_table_thead.name') }}</th>
                                    <th scope="col"
                                        class="text-center">{{ trans('visiosoft.module.advs::field.advs_list_table_thead.price') }}</th>
                                    <th scope="col"
                                        class="text-center">{{ trans('visiosoft.module.advs::field.advs_list_table_thead.publish_at') }}</th>
                                    <th scope="col"
                                        class="text-center">{{ trans('visiosoft.module.advs::field.advs_list_table_thead.location_city') }}
                                        / {{ trans('visiosoft.module.advs::field.advs_list_table_thead.location_country') }}</th>
                                    {% if entries('advs').isEnabled('customfields') %}
                                        {% include "visiosoft.module.customfields::cftable" %}
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% include "visiosoft.theme.base::list/partials/table-row" %}
                                </tbody>
                            </table>
                        </div>
                        <!-- pagination  -->
                        <div class="text-center">
                            <div class="tool-pagination">
                                {{ advs.links()|raw }}
                            </div>
                        </div><!-- pagination  -->
                        {% if entries('advs').isEnabled('favs') %}
                            <div class="favorite-searches">
                                <div class="search-fav-icon col-md-1">
                                    <i class="fa fa-search"></i>
                                </div>
                                <div class="search-fav-tex col-md-8">
                                    <h4>{{ trans("visiosoft.module.advs::field.my_favorite_searches") }}</h4>
                                    <br>
                                    <p>{{ trans("visiosoft.module.advs::field.search_desc") }}</p>
                                </div>
                                <div class="search-fav-button col-md-3">
                                    <button class="btn btn-success" type="button"
                                            id="save-search">{{ trans("visiosoft.module.advs::field.add_to_favorites") }}</button>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div><!-- recommended-ads -->
            </form>
        </div>
    </div>


{% endblock %}
{% block customjs %}
    {{ asset_add("scripts.js", "visiosoft.theme.base::js/list-table.js") }}
    {% include "theme::scroll-modal" %}
{% endblock %}