{% extends "visiosoft.module.advs::list/list" %}

{% block listContent %}
    {% set showPrice = setting_value('visiosoft.theme.base::price_fields') %}
    {% set showLocation = setting_value('visiosoft.module.location::home_page_location') %}
    {% set showDate = setting_value('visiosoft.theme.base::date_fields') %}

    <div class="row p-0 m-0 ">

        {{ addBlock('ad-list/partials/gallery',{'featured_advs': featured_advs, 'vars': _context})|raw }}

        {% for adv in advs %}
            <div class="col-xl-4 col-lg-6">
                    <div class="d-flex flex-column product-hb border shadow-sm rounded">
                        {{ addBlock('list/extra-actions', {'ad': adv, 'vars': _context}, ['favs', 'comparisons'])|raw }}
                        <div class="product-image-hb">
                            <a href="{{ adv.detail_url }}">
                                <img class="product-image-in" src="{{ adv.cover_photo }}" alt="{{ adv.name }}">
                            </a>
                        </div>
                        <div class="product-info-hb d-flex flex-column px-lg-3 px-2 mt-3">
                            <a href="{{ adv.detail_url }}" class="product-name-hb text-dark">
                                {{ adv.name }}
                            </a>
                            {% if not setting_value('visiosoft.module.advs::hide_ad_cat') %}
                                <a href="{{ adv.detail_url }}" class="product-name-hb text-dark">{{ adv.cat1_name }} /{{ adv.cat2_name }}</a>
                            {% endif %}
                            {% if showPrice %}
                                <div class="product-price-hb font-weight-bold mt-2 text-dark">
                                    {{ adv.price != '0' ? currency_format(adv.price,adv.currency) : trans('visiosoft.module.advs::field.free') }}
                                </div>
                            {% endif %}

                        </div>
                    </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block customjs %}
    {{ asset_add("scripts.js", "visiosoft.module.advs::js/list-table.js") }}
    {% include "theme::scroll-modal" %}
{% endblock %}
