{% extends layout('list') %}

{% block content %}
    <section>

        <div class="container">

            <!-- breadcrumb -->
            {% include "visiosoft.module.advs::list/partials/breadcrumb" %}
            <!-- breadcrumb -->

            {{ addBlock('ads-list/user-section', {'store': store})|raw }}

            <div class="row my-3">
                <div class="col-md-3">
                    {% include "visiosoft.module.advs::list/partials/list-filter" %}
                </div>
                <div class="col-md-9">
                    <div class="section recommended-classified">

                        <div class="row breadcrumb list-header">

                            <div class="col-md-6 my-2">
                                {% include "visiosoft.module.advs::list/partials/list-sort-by" %}
                            </div>
                            <div class="col-md-6 my-2">
                                {% include "visiosoft.module.advs::list/partials/display-mode" %}
                            </div>
                        </div>
                        {{ addBlock('ads-list/row',{'topfields':topfields,'advs':advs})|raw }}
                        <div class="row">
                            {% block listContent %}
                                {% include "visiosoft.module.advs::list/partials/ads" %}
                            {% endblock %}
                        </div>
                        {% include "visiosoft.module.advs::list/partials/pagination" %}

                        {{ addBlock('ads-list/row-bottom')|raw }}

                        {#                        <div class="category-tabs"></div>#}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        var select_trans = "{{ trans('visiosoft.module.advs::field.pick_option') }}";
    </script>

    {{ asset_add("scripts.js", "visiosoft.module.advs::js/list.js") }}
    {{ asset_add("styles.css", "visiosoft.module.advs::css/list.css") }}

{% endblock %}
{% block customjs %}
    {{ addBlock('ads-list/list',{'adv':adv})|raw }}
{% endblock %}