{% extends layout('list') %}

{% block content %}
    <section id="main" class="clearfix category-page">

        <div class="container">

            {% include "theme::partials/messages" %}

            <!-- breadcrumb -->
            {% include "visiosoft.module.advs::list/partials/breadcrumb" %}
            <!-- breadcrumb -->

            {% block listContent %}
                <div class="category-info">

                    <div class="row">

                        {% include "visiosoft.module.advs::list/partials/user-section" %}

                        <form action="{{ url_route('visiosoft.module.advs::list') }}" method="get">

                            {% include "visiosoft.module.advs::list/partials/list-filter" %}

                            <div class="col-sm-8 col-md-9">

                                {% include "visiosoft.module.advs::list/partials/list-section" %}


                            </div>

                        </form>

                    </div>
                </div>
            {% endblock %}

        </div>

    </section>

    <script>
        var select_trans = "{{ trans('visiosoft.module.advs::field.pick_option') }}";
        var searchedCountry = {{ searchedCountry }};
        var useDefault = {{ useDefault }};
    </script>

    {% if entries('advs').isEnabled('favs') %}
        {% include "visiosoft.module.favs::list/favorites-modal" %}
    {% endif %}

    {{ asset_add("scripts.js", "visiosoft.module.advs::js/list.js") }}

    {% if entries('advs').isEnabled('comparisons') %}
        {% include "visiosoft.module.comparisons::comparison" %}
    {% endif %}

{% endblock %}