<section id="main" class="clearfix contact-us">
    <div class="container">
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="/">{{ trans('visiosoft.module.advs::field.home') }}</a></li>
            <li>{{ trans('visiosoft.module.advs::field.contact_with') }}</li>
        </ol><!-- breadcrumb -->
        <h2 class="title">{{ trans('visiosoft.module.advs::field.contact_with') }}</h2>

        <!-- gmap -->
        <div id="page-map">
            <p id="lat" data-content="{{ setting_value('visiosoft.module.advs::map_coordinates_lat') }}"></p>
            <p id="long" data-content="{{ setting_value('visiosoft.module.advs::map_coordinates_long') }}"></p>
        </div>

        <div class="corporate-info">
            <div class="row">
                <!-- contact-info -->
                <div class="col-sm-4">
                    <div class="contact-info">

                        <h2>{{ trans('visiosoft.module.advs::field.corporate_info') }}</h2>
                        <address>
                            <p><strong>{{ trans('visiosoft.module.advs::field.address') }}: </strong>{{ setting_value('visiosoft.module.advs::address') }}</p>
                            <p><strong>{{ trans('visiosoft.module.advs::field.email') }}: </strong>
                                {{ setting_value('visiosoft.module.advs::contact_mail') }}@</strong>{{ setting_value('visiosoft.module.advs::site_address') }}</p>
                            <p><strong>{{ trans('visiosoft.module.advs::field.phone') }}: </strong>{{ setting_value('visiosoft.module.advs::phone') }}</p>
                        </address>

                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div><!-- contact-info -->

                <!-- feedback -->
                <div class="col-sm-8">
                    <div class="feedback">
                        <h2>{{ trans('visiosoft.module.advs::field.send_us_your_feedback') }}</h2>
                        <p>{{ form('contact').to('example@domain.com')|raw }}</p>
                    </div>
                </div><!-- feedback -->
            </div><!-- row -->
        </div>
    </div><!-- container -->
</section><!-- main -->
{% include "theme::partials/messages" %}
{{ asset_add("scripts.js", "visiosoft.module.advs::js/map.js") }}