{% extends "theme::layouts/default" %}
{% block content %}
    <section id="main" class="clearfix home-default">
        <div class="container">
            <div class="breadcrumb-section">
                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <li>
                        <a href="{{ url_route("visiosoft.module.profile::profile") }}">{{ trans("visiosoft.module.profile::field.menu_profile.name") }}</a>
                    </li>
                    <li>{{ trans("visiosoft.module.profile::field.menu_address.name") }}</li>
                    <li>{{ trans("visiosoft.module.profile::field.create.name") }}</li>
                </ol><!-- breadcrumb -->
                <h2 class="title">{{ trans("visiosoft.module.profile::field.create.name") }} {{ trans("visiosoft.module.profile::field.menu_address.name") }}</h2>
            </div>
            <div class="adress-create">
                <div class="row">
                    <div class="col-md-12">
                        {% include "theme::partials/messages" %}
                    </div>
                    <div class="col-md-8">
                        {% set form = form('profile', 'adress').get() %}
                        {{ form_open({
                            'class': 'form ' ~ form.options.class ,
                            'enctype': 'multipart/form-data',
                            'url': 'profile/adress/create'
                        })|raw }}
                        <fieldset>
                            <div class="section postdetails">
                                <a href="/profile#adress" class="btn btn-danger fa fa-chevron-left"
                                   style="margin-bottom: 20px" role="button" aria-pressed="true">Back</a>

                                <div class="row">
                                    <div class="col-sm-6">
                                        {{ form.fields.adress_name|raw }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form.fields.adress_gsm_phone|raw }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        {{ form.fields.adress_first_name|raw }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form.fields.adress_last_name|raw }}
                                    </div>
                                </div>

                                <div class="row form-group location-map">
                                    <div class="col-sm-4">
                                        <label class="control-label">{{ trans("visiosoft.module.profile::field.country.name") }}</label>
                                        <div class="input-wrapper">
                                            <select name="country" class="custom-select form-control"
                                                    data-content="{{ adress.country.id }}"
                                                    data-field_name="adress_country_id"
                                                    data-provides="anomaly.field_type.select">
                                                {% for countryField in country %}
                                                    <option value="{{ countryField.id }}">{{ countryField.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        {{ form.fields.city|raw }}
                                    </div>
                                    <div class="col-sm-4">
                                        {{ form.fields.district|raw }}

                                    </div>

                                </div>
                                <div class="row form-group location-map">
                                    <div class="col-sm-12">
                                        <div class="add-title">
                                            {{ form.fields.adress_content|raw }}

                                        </div>
                                    </div>

                                </div>


                                <div class="col-sm-12">
                                    {{ form.actions|raw }}
                                </div>
                            </div><!-- section -->


                        </fieldset>
                    </div>
                    {% include "visiosoft.module.profile::profile/dock-right" %}
                </div>
                {{ form.close|raw }}
            </div>
        </div>
    </section>
    {{ asset_add("scripts.js", "visiosoft.module.profile::assets/js/country.js") }}
    {{ asset_add("scripts.js", "visiosoft.module.profile::assets/js/profile.js") }}
{% endblock %}


