{% extends "theme::layouts/default" %}
{% block content %}
    <section id="main" class="clearfix home-default">
        <div class="container">
            <div class="breadcrumb-section">
                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <li><a href="{{ url_route("visiosoft.module.profile::profile") }}">{{ trans("visiosoft.module.profile::field.menu_profile.name") }}</a></li>
                    <li>{{ trans("visiosoft.module.profile::field.menu_address.name") }}</li>
                    <li>{{ trans("visiosoft.module.profile::field.edit.name") }}</li>
                </ol><!-- breadcrumb -->
                <h2 class="title">{{ trans("visiosoft.module.profile::field.edit.name") }} {{ trans("visiosoft.module.profile::field.menu_address.name") }}</h2>
            </div>
            <div class="adress-edit">
                <div class="row">
                    <div class="col-md-12">
                        {% include "theme::partials/messages" %}
                    </div>
                    <div class="col-md-8">
                        {% set form = form('profile', 'adress').get() %}
                        {{ form_open({
                            'class': 'form ' ~ form.options.class ,
                            'enctype': 'multipart/form-data',
                            'url': 'profile/adress/update/'~ adress.id
                        })|raw }}
                        <fieldset>
                            <div class="section postdetails">
                                <a href="/profile#adress" class="btn btn-danger fa fa-chevron-left"
                                   style="margin-bottom: 20px" role="button" aria-pressed="true">Back</a>
                                <div class="row form-group add-title">
                                    <label class="control-label">{{ trans("visiosoft.module.profile::field.adress_name.name") }}</label>
                                    {{ adress.adress_name.input|raw }}                                </div>
                                <div class="row form-group add-title">
                                    <label class="control-label">{{ trans("visiosoft.module.profile::field.adress_first_name.name") }}</label>
                                    {{ adress.adress_first_name.input|raw }}
                                </div>
                                <div class="row form-group add-title">
                                    <label class="control-label">{{ trans("visiosoft.module.profile::field.adress_last_name.name") }}</label>
                                    {{ adress.adress_last_name.input|raw }}
                                </div>
                                <div class="row form-group location-map">
                                    <div class="col-sm-4">
                                        <ul style="padding: 0">
                                            <li class="location-field"><label
                                                        class="control-label">{{ trans("visiosoft.module.profile::field.country.name") }}</label>
                                                <div class="input-wrapper">
                                                    <select name="country" class="custom-select form-control"
                                                            data-content="{{ adress.country.id }}"
                                                            data-field_name="adress_country_id"
                                                            data-provides="anomaly.field_type.select">
                                                        {% for countryField in country %}
                                                            <option value="{{ countryField.id }}">{{ countryField.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </li>
                                            <li class="location-field city-data"
                                                data-content="{{ adress.city }}">{{ form.fields.city|raw }}</li>
                                            <li class="location-field district-data"
                                                data-content="{{ adress.district }}">{{ form.fields.district|raw }}</li>
                                            <li class="location-field neighborhood-data"
                                                data-content="{{ adress.neighborhood }}">{{ form.fields.neighborhood|raw }}
                                            <li>
                                            <li class="location-field village-data"
                                                data-content="{{ adress.village }}">{{ form.fields.village|raw }}</li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="row form-group location-map">
                                    <div class="col-sm-12">
                                        <div class="row form-group add-title">
                                            <label class="control-label">{{ trans("visiosoft.module.profile::field.adress_content.name") }}</label>
                                            {{ adress.adress_content.input|raw }}
                                        </div>
                                        <div class="row form-group add-title">
                                            <label class="control-label">{{ trans("visiosoft.module.profile::field.adress_post_code.name") }}</label>
                                            {{ adress.adress_post_code.input|raw }}
                                        </div>
                                        <div class="row form-group add-title">
                                            <label class="control-label">{{ trans("visiosoft.module.profile::field.adress_gsm_phone.name") }}</label>
                                            {{ adress.adress_gsm_phone.input|raw }}
                                        </div>
                                        <div class="row form-group add-title">
                                            <label class="control-label">{{ trans("visiosoft.module.profile::field.adress_land_phone.name") }}</label>
                                            {{ adress.adress_land_phone.input|raw }}
                                        </div>
                                    </div>

                                </div>

                                <div class="col-sm-12">
                                    {{ form.actions|raw }}
                                </div>
                            </div><!-- section -->
                        </fieldset>
                    </div>
                    {% include "visiosoft.module.profile::profile/dock-right" %}
                </div>
                {{ form.close|raw }}
            </div>
        </div>
    </section>
    {{ asset_add("scripts.js", "visiosoft.module.profile::assets/js/country.js") }}
    {{ asset_add("scripts.js", "visiosoft.module.profile::assets/js/profile.js") }}
{% endblock %}


