{% extends "theme::layouts/default" %}
{% block content %}
    <div class="row">
        {% include "visiosoft.module.profile::profile/partials/navigation" %}
        <div class="col-md-12">
            <div class="row px-3">
                <div class="col-md-12 bg-dark text-white p-5">
                    <h3>{{ trans('visiosoft.module.advs::field.my_ads.name') }}</h3>
                </div>

                <div class="col-md-12 bg-light ads-section">
                    <nav class="profile-ads-tab">

                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active text-dark" data-type="approved" id="nav-approved-tab"
                               data-toggle="tab"
                               href="#nav-approved"
                               role="tab" aria-controls="nav-detail" aria-selected="true">
                                {{ trans('visiosoft.module.advs::field.my_ads.name') }}
                            </a>
                            <a class="nav-item nav-link text-dark" data-type="pending" id="nav-pending-tab"
                               data-toggle="tab"
                               href="#nav-pending"
                               role="tab" aria-controls="nav-pending" aria-selected="true">
                                {{ trans('visiosoft.module.advs::field.pending_adv.name') }}
                            </a>
                            <a class="nav-item nav-link text-dark" data-type="passive" id="nav-archived-tab"
                               data-toggle="tab"
                               href="#nav-passive"
                               role="tab" aria-controls="nav-passive"
                               aria-selected="true">
                                {{ trans('visiosoft.module.advs::field.archived_adv.name') }}
                            </a>
                        </div>
                    </nav>
                    <div class="bg-dark p-2 mt-2 rounded">
                        <a href="{{ url_route("advs::extendAll") }}" class="btn btn-primary">
                            {{ trans('visiosoft.module.profile::button.extend_all') }}
                        </a>
                    </div>
                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-approved" role="tabpanel"
                             aria-labelledby="nav-approved-tab">
                        </div>
                        <div class="tab-pane fade show" id="nav-pending" role="tabpanel"
                             aria-labelledby="nav-pending-tab">
                        </div>
                        <div class="tab-pane fade show" id="nav-passive" role="tabpanel"
                             aria-labelledby="nav-passive-tab">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var approve = "{{ trans('visiosoft.module.advs::field.approve') }}";
        var passive = "{{ trans('visiosoft.module.advs::field.passive') }}";
        var delete_ad = "{{ trans('visiosoft.module.profile::button.delete') }}";
        var extend_ad = "{{ trans('visiosoft.module.profile::button.extend') }}";
        var edit_ad = "{{ trans('visiosoft.module.profile::button.edit') }}";
    </script>
    {{ asset_add('scripts.js','visiosoft.module.profile::assets/js/ads.js') }}
{% endblock %}