{% extends "theme::layouts/default" %}

{% block styles %}
	<style>
		{{ asset_inline("visiosoft.module.profile::assets/css/profile.scss") }}
	</style>
{% endblock %}

{% block content %}
	{% embed 'visiosoft.module.profile::profile/index' %}
		{% block detail %}
			{% set profile_photo = user.file %}
			{% if profile_photo %}
				{% set profile_photo = file(profile_photo.id).url %}
			{% else %}
				{% set profile_photo = img('visiosoft.module.profile::images/profile-default.png').url %}
			{% endif %}

			<div class="row px-3">

				<!-- User Profile Form Section-->
				<div class="col-md-12 profile-section py-4 px-5 border">
					<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-password" role="tabpanel" aria-labelledby="nav-password-tab">
							{% set passwordForm = form('updatePassword').get() %}

							{{ passwordForm.open()|raw }}
							<div class="row">
								<div class="col-12">
									<div class="form-group">
										<label class="font-weight-bold">{{ trans("visiosoft.module.profile::field.old_password.name") }}</label>
										{{ passwordForm.fields.old_password.input|raw }}
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="font-weight-bold">{{ trans("visiosoft.module.profile::field.new_password.name") }}</label>
										{{ passwordForm.fields.new_password.input|raw }}
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="font-weight-bold">{{ trans("visiosoft.module.profile::field.re_new_password.name") }}</label>
										{{ passwordForm.fields.re_new_password.input|raw }}
									</div>
								</div>
							</div>
							<div class="form-group text-right">
								{{ passwordForm.actions|raw }}
							</div>
						</div>
						{{ passwordForm.close|raw }}
						{{ addBlock('profile/detail/content')|raw }}
					</div>
					<!-- User Profile Form Section-->
				</div>
			</div>
			<script>
                var choose_an_option = "{{ trans('visiosoft.module.profile::field.choose_an_option') }}"
			</script>
		{% endblock %}
	{% endembed %}

	{{ asset_script("visiosoft.module.profile::assets/js/education.js") }}
	{{ asset_add("scripts.js", "visiosoft.module.profile::assets/js/profile.js") }}
{% endblock %}