{{ asset_add('styles.css', 'visiosoft.module.profile::assets/css/dashboard-widget.css') }}
<div class="col-md-4 profile-right-sidebar">
    {% if entries('advs').isEnabled('store') %}
        {% include "visiosoft.module.store::profile-dock" %}
    {% endif %}

    <div class="col-sm-12 text-center">
        <div class="recommended-cta">
            {{ blocks('profile-right-sidebar') }}
        </div><!-- cta -->
    </div>


    <div class="col-sm-12 text-center">
        <div class="recommended-cta">
            <div class="cta preferences-settings">
                <!-- preferences-settings -->
                <h2>{{ trans('visiosoft.module.profile::field.preferences_settings.name') }}</h2>
                <!-- checkbox -->
                <div class="checkbox">
                    <label class="{{ profiles.getNotification('notified_new_updates') }}">
                        <input type="checkbox" class="notification" data-name="notified_new_updates"
                                {{ profiles.getNotification('notified_new_updates') }}>{{ trans("visiosoft.module.profile::message.notified_new_updates") }}
                        .</label>
                    <label class="{{ profiles.getNotification('notified_about_ads') }}">
                        <input type="checkbox" class="notification" data-name="notified_about_ads"
                                {{ profiles.getNotification('notified_about_ads') }}>{{ trans("visiosoft.module.profile::message.notified_about_ads") }}
                        .</label>
                    <label class="{{ profiles.getNotification('receive_messages_email') }}">
                        <input type="checkbox" class="notification" data-name="receive_messages_email"
                                {{ profiles.getNotification('receive_messages_email') }}>{{ trans("visiosoft.module.profile::message.receive_messages_email") }}
                        .</label>
                </div><!-- checkbox -->
            </div>
        </div><!-- cta -->
    </div>
</div>
<script>
    var saved = "{{ trans('visiosoft.module.profile::message.saved') }}";
</script>
{{ asset_add("scripts.js", "visiosoft.module.profile::assets/js/notification.js") }}




