{{ asset_style('visiosoft.module.carts::css/navigation.css') }}
<a href="{{ url_route('visiosoft.module.carts::cart') }}"
   class="position-relative mr-1 align-items-center cart-navigation">
    {% if params.isWhite %}
        {{ img('visiosoft.theme.sahibinden::images/header-icon/cart-white.svg') }}
    {% else %}
        {{ img('visiosoft.theme.sahibinden::images/header-icon/cart.svg') }}
    {% endif %}
    {% if cart_count() %}
        <span class="badge badge-danger cart-count">{{ cart_count() }}</span>
    {% endif %}
</a>
