<div class="card">

    <div class="card-header">
        <h5 class="card-title">
            {{ ucfirst(type) }} Details
        </h5>
    </div>

    <div class="table-responsive">
        <table class="table table-borderless">
            {% for label, attribute in attributes %}
                <tr>
                    <th>{{ label }}</th>
                    <td>
                        {% set original = attribute is iterable ? attribute.value : attribute %}
                        {% set original = original is iterable ? null : original %}

                        {% if str_contains(original, ['json_encode', 'print_r', 'var_export', 'var_dump']) %}
                            <pre class="language-{{ attribute.language ?: 'php' }}"><code>{{ value(attribute, entry) }}</code></pre>
                        {#{% elseif str_contains(original, 'entry.content.line_preview') %}
                            <pre class="language-{{ attribute.language ?: 'php' }}"><code>{{ value|join('\n') }}</code></pre>
                        #}{% elseif original == 'entry.tags' %}
                            {% for tag in entry.tags %}
                                <span class="tag tag-default">{{ tag }}</span>
                            {% endfor %}
                        {% else %}
                            {{ value(attribute, entry)|raw }}
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>

</div>
