<div class="card">

    <ul class="nav nav-sections">
        {% for label, attribute in attributes %}
            <li class="nav-item {{ loop.first ? 'active' }}">
                <a href="#tab-{{ str_slug(label) }}" data-toggle="tab" class="nav-link">
                    {{ label }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <div class="card-block">
        {% for label, attribute in attributes %}

            <div class="tab__pane tab-pane {{ loop.first ? 'active' }}" id="tab-{{ str_slug(label) }}">

                {% set original = attribute is iterable ? attribute.value : attribute %}
                {% set original = original is iterable ? null : original %}

                {% set value = value(attribute, entry) %}

                {% if str_contains(original, ['json_encode', 'print_r', 'var_export', 'var_dump']) %}
                    <pre class="language-{{ attribute.language ?: 'php' }}"><code>{{ value }}</code></pre>
                {#{% elseif str_contains(original, 'entry.content.line_preview') %}
                    <pre class="language-{{ attribute.language ?: 'php' }}"><code>{{ value|join('\n') }}</code></pre>
                #}{% elseif original == 'entry.tags' %}
                    {% for tag in entry.tags %}
                        <span class="tag tag-default">{{ dd(tag) }}</span>
                    {% endfor %}
                {% else %}
                    {{ value|raw }}
                {% endif %}
            </div>

        {% endfor %}
    </div>

</div>
