{{ asset_add("styles.css", "anomaly.field_type.country::css/choices.css", ["as:jshjohnson/Choices.css"]) }}
{{ asset_add("scripts.js", "anomaly.field_type.country::js/choices.js", ["as:jshjohnson/Choices.js"]) }}
{{ asset_add("scripts.js", "anomaly.field_type.country::js/search.js") }}

<select
        class="search"
        name="{{ field_type.input_name }}"
        {{ html_attributes(field_type.attributes) }}
        {{ field_type.disabled ? 'disabled' }}
        {{ field_type.readonly ? 'readonly' }}>

    {% if field_type.placeholder %}
        <option value="">{{ trans(field_type.placeholder) }}</option>
    {% endif %}

    {% for iso, name in field_type.options %}
        <option value="{{ iso }}" {{ iso == field_type.value ? 'selected' }}>{{ trans(name) }}</option>
    {% endfor %}

</select>
