{% extends "theme::layouts/default" %}
{% block content %}
    <section id="main" class="clearfix user-page">
        <div class="container">
            <div class="row text-center">
                <!-- user-login -->
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <div class="user-account">
                        {% include "theme::partials/messages" %}
                        <h2>User Login</h2>
                        <!-- form -->
                        {% set form = form('login').redirect('/').get() %}
                        {{ form_open({'url': 'login-in'})|raw }}
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email or Phone"
                                   name="{{ form.fields.email.input_name }}">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password"
                                   name="{{ form.fields.password.input_name }}">
                        </div>
                        <button type="submit" href="#" class="btn btnlogin">Login</button>
                        <!-- forgot-password -->
                        <div class="user-option">
                            <div class="checkbox pull-left">
                                {{ form.fields.remember_me|raw }}
                            </div>
                            <div class="pull-right forgot-password">
                                <a href="{{ url_route('anomaly.module.users::password.forgot', {
                                    'redirect': request_get('redirect', '/')
                                }) }}">{{ trans('anomaly.module.users::message.forgot_password') }}</a>
                            </div>
                        </div><!-- forgot-password -->
                        {% if isActiveSocial == 1 %}
                            <label>Login with:</label>
                            {% include "theme::loginWith" %}
                        {% endif %}
                        {{ form.close()|raw }}
                    </div>
                    <a href="/register" class="btn-primary">Create a New Account</a>
                </div><!-- user-login -->
            </div><!-- row -->
        </div><!-- container -->
    </section><!-- signin-page -->
{% endblock %}