{% for adv in featured_advs %}
    <tr class="text-center table-row-dopings-ads clickable-row" data-href='{{ adv.detail_url }}'>
        <td class="vertical-center">
                {% set advPhoto = adv.cover_photo %}
                <img src="{{ adv.cover_photo }}" alt="Image" class="table-image"></a>
        </td>
        <td class="text-start vertical-top">
            <div class="table-row-name">
                <a href="{{ adv.detail_url }}">
                    {{ adv.name }}
                </a>
            </div>
            <div class="table-row-name-bar">
                <a href="{{ url_route('visiosoft.module.advs::show_ad_map_location',[adv.country_id,adv.city,adv.district]) }}"
                   data-toggle="tooltip" data-placement="top" title="{{ adv.city_name }}, {{ adv.country_name }}"><i
                            class="fa fa-map-marker"></i> </a>
                <a class="online" href="" data-toggle="tooltip" data-placement="top" title="{{ adv.owner }}"><i
                            class="fa fa-user"></i> </a>
                {% if entries('advs').isEnabled('comparisons') %}

                    <a href="javascript:;" class="comparison" data-adv="{{ adv.id }}" data-title="{{ adv.name }}"
                       data-price="{{ adv.price }} {{ adv.currency }}" data-img="{{ advPhoto }}">
                        <i class="fa fa-arrows-alt"></i>
                    </a>

                {% endif %}
            </div>
        </td>
        <td class="vertical-center">
            {{ adv.price }} {{ adv.currency }}
        </td>
        <td class="vertical-center">
            {{ adv.created_at|date("d/m/Y") }}
        </td>
        {% if setting_value('visiosoft.module.location::list_page_location') %}
        <td class="vertical-center">
            {{ adv.city_name }} / {{ adv.country_name }}
        </td>
        {% endif %}
        {% if entries('advs').isEnabled('customfields') %}
            {% include "visiosoft.module.customfields::cftablerow" %}
        {% endif %}
    </tr>
{% endfor %}
{% for adv in advs %}
    {% if adv.doping != null %}
    <tr class="text-center table-row-dopings-ads clickable-row" data-href='{{ adv.detail_url }}'>
    {% else %}
        <tr class="text-center clickable-row" data-href='{{ adv.detail_url }}'>
    {% endif %}
    <td class="vertical-center">
            {% set advPhoto = adv.cover_photo %}
            <img src="{{ adv.cover_photo }}" alt="Image" class="table-image"></a>
    </td>
    <td class="text-start vertical-top">
        <div class="table-row-name">
            <a href="{{ adv.detail_url }}">
                {{ adv.name }}
            </a>
        </div>
        <div class="table-row-name-bar">
            {% if setting_value('visiosoft.module.location::list_page_location') %}
            <a href="{{ url_route('visiosoft.module.advs::show_ad_map_location',[adv.country_id,adv.city,adv.district]) }}"
               data-toggle="tooltip" data-placement="top" title="{{ adv.city_name }}, {{ adv.country_name }}"><i
                        class="fa fa-map-marker"></i> </a>
            {% endif %}
            <a class="online" href="" data-toggle="tooltip" data-placement="top" title="{{ adv.owner }}"><i
                        class="fa fa-user"></i> </a>
            {% if entries('advs').isEnabled('comparisons') %}

                <a href="javascript:;" class="comparison" data-adv="{{ adv.id }}" data-title="{{ adv.name }}"
                   data-price="{{ adv.price }} {{ adv.currency }}" data-img="{{ advPhoto }}">
                    <i class="fa fa-arrows-alt"></i>
                </a>

            {% endif %}
        </div>
    </td>
    <td class="vertical-center">
        {{ adv.price }} {{ adv.currency }}
    </td>
    <td class="vertical-center">
        {{ adv.created_at|date("d/m/Y") }}
    </td>
    {% if setting_value('visiosoft.module.location::list_page_location') %}
    <td class="vertical-center">
        {{ adv.city_name }} / {{ adv.country_name }}
    </td>
    {% endif %}
    {% if entries('advs').isEnabled('customfields') %}
        {% include "visiosoft.module.customfields::cftablerow" %}
    {% endif %}
    </tr>
{% endfor %}
