<div class="col-md-3 col-sm-4">
    <input type="hidden" name="cat" value="{{ app.request.get('cat') }}">
    <input type="hidden" name="user" value="{{ app.request.get('user') }}">
    <div class="accordion">
        <div class="panel-group" id="accordion">
            <div class="panel-default panel-faq">

                <div class="panel-heading active-faq">
                    <a data-toggle="collapse" data-parent="#accordion" href="#accordion-one">
                        <h4 class="panel-title">{{ trans("visiosoft.module.advs::field.categories") }}
                            <span class="pull-right">
                                <i class="fa fa-minus"></i>
                            </span>
                        </h4>
                    </a>
                </div>

                <div id="accordion-one" class="panel-collapse collapse in">
                    <div class="panel-body">
                        {% for maincat in mainCats %}
                            <a class="main-cat-item"
                               href="{% if(type == "list") %}{{ url_route('visiosoft.module.advs::list') }}{% else %}{{ url_route('advs_map_list') }}{% endif %}?cat={{ maincat.id }}"> {% if maincat.files[0].path != "" %}
                                    <img class="catIcon" src="{{ url('files/' ~ maincat.files[0].path) }}"
                                         alt="">{% else %}<img class="catIcon"
                                                               src="{{ img('visiosoft.theme.base::images/plus-categories.png').url }}"
                                                               alt="">{% endif %}{{ maincat.name }}</a>
                            {% for subcat in subCats %}
                                <ul>
                                    {% if subcat.parent_category_id == maincat.id %}
                                        <li><a class="sub-cat-item"
                                               href="{% if(type == "list") %}{{ url_route('visiosoft.module.advs::list') }}{% else %}{{ url_route('advs_map_list') }}{% endif %}?cat={{ subcat.id }}">{{ subcat.name }}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% include "visiosoft.module.location::list/filter" %}

            {% if entries('advs').isEnabled('customfields') %}
                {% include "visiosoft.module.customfields::list/filter" %}
            {% endif %}

            <!-- Price -->
            <div class="panel-default panel-faq">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" href="#accordion-three">
                        <h4 class="panel-title">
                            {{ trans('visiosoft.theme.base::fields.price.name') }}
                            <span class="pull-right"><i class="fa fa-minus"></i></span>
                        </h4>
                    </a>
                </div>

                <div id="accordion-three" class="panel-collapse collapse in" aria-expanded="true" style="">
                    <div class="panel-body">
                        <div class="price-range">
                            <div class="price">

                                {% set active_currencies = setting_value('visiosoft.module.advs::enabled_currencies') %}

                                <input type="number" class="price-input" value="{{ request.min_price }}"
                                       name="min_price" min="0" placeholder="Min"> -

                                <input class="price-input" type="number" value="{{ request.max_price }}"
                                       name="max_price" placeholder="Max">

                                <select name="currency" id="currency">
                                    {% for currency in active_currencies %}
                                        <option value="{{ currency }}">{{ currency }}</option>
                                    {% endfor %}
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Price -->


            {% if entries('advs').isEnabled('searchbydistance') %}
                <!--Search By Distance-->
                {% include "visiosoft.module.searchbydistance::list/filter" %}
                <!--Search By Distance-->
            {% endif %}

            <div class="panel-default panel-faq">
                <div class="panel-heading text-center">
                    <div id="search-button">
                        <button type="submit" class="btn btn-primary search-filter-button">
                            {{ trans("visiosoft.module.advs::field.search") }}
                        </button>
                        <h5><font color="#333">{{ trans('visiosoft.theme.base::message.filter_by_search_msg') }}</font></h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>