<div class="form-group location-map position-relative">
    <div>
        <div class="tab-content bg-light">
            <div role="tabpanel" class="tab-pane m-0 pt-2 active" id="location">
                <div class="row">
                    <div class="col-12">
                        <ul style="padding: 0" class="list-unstyled d-flex flex-column flex-sm-row">
                            <li class="country-data flex-fill mx-1" data-content=""
                                data-default="{{ setting_value('visiosoft.module.location::default_country') }}"
                                class="location-field country-data">
                                {{ form.fields.country.setOptions({})|raw }}
                            </li>
                            <li class="city-data flex-fill mx-1" data-content=""
                                data-default="{{ setting_value('visiosoft.module.location::default_city') }}"
                                class="location-field city-data">
                                {{ form.fields.city|raw }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 {% if not setting_value("visiosoft.module.location::store_registration_page_location") %} d-none {% endif %}">
                        <div id="map-canvas" style="
                                    position: relative; overflow: hidden;
                                    transform: translateZ(0px) translateZ(0px) translateZ(0px) translateZ(0px) translateZ(0px) translateZ(0px);
                                    width: 100%;
                                    height:550px;
                                    background-color: rgb(229, 227, 223);
                                "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var selectedAddressText = "{{ trans('visiosoft.module.location::field.selected') }}";
    var chooseAddressText = '{{ trans("visiosoft.module.profile::field.choose.name") }}';
    var chooseOptionTrans = '{{ trans("visiosoft.module.location::field.choose_an_option") }}';
    var default_city = "{{ setting_value('visiosoft.module.location::default_city') }}";
    var default_district = "{{ setting_value('visiosoft.module.location::default_district') }}";
    var default_neighborhood = "{{ setting_value('visiosoft.module.location::default_neighborhood') }}";
    var default_village = "{{ setting_value('visiosoft.module.location::default_village') }}";
    var defaultLat = {{ setting_value("visiosoft.module.location::map_coordinates_lat", 38.9573415) }};
    var defaultLong = {{ setting_value("visiosoft.module.location::map_coordinates_long", 35.2415759) }};
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ setting_value('visiosoft.module.location::google_map_key') }}&callback="
        type="text/javascript"></script>
{{ asset_add("scripts.js", "visiosoft.module.advs::js/location.js") }}
{{ asset_add("styles.css", "visiosoft.module.location::css/map.css") }}