<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 offered-field offered-row">
    {% if entries('advs').isEnabled('favs') %}
        <a id="owner-fav" href="#"><i id="heart-icon-seller" class="far fa-heart"></i></a>
    {% endif %}
    <span class="icon">{{ trans('visiosoft.module.advs::field.offered_by') }}:
                                            <a id="owner"
                                               href="{{ url_route('visiosoft.module.advs::list_user_ad', [adv.created_by_id]) }}"
                                               data-content="{{ adv.owner_id }}">{{ adv.owner }}</a>
                                        </span>
    <span class="icon"> {{ trans('visiosoft.module.advs::field.ad_id') }}:
                                            <a href="#" id="adv_id" class="time">{{ adv.id }}</a>
                                        </span>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 offered-field offered-row">
                                    <span class="icon"><i class="far fa-clock"></i><a
                                                href="#">{{ adv.created_at|date('d/m/Y') }}</a></span>

    {% if setting_value('visiosoft.module.location::detail_page_location') %}
        <span class="icon"><i class="fa fa-map-marker"></i><a href="#">{{ adv.city_name }}
                                            , {{ adv.country_name }}</a></span>
    {% endif %}
    {% if adv.isCorporate == 2 %}
        <span class="icon"><i class="fa fa-suitcase"></i><a
                    href="{{ url_route('visiosoft.module.advs::list_user_ad', [adv.created_by_id]) }}">{{ adv.owner }}</a></span>
    {% endif %}
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 offered-field offered-row">
    {% if entries('advs').isEnabled('comparisons') %}
        {% include "visiosoft.module.comparisons::comparebtn" %}
        <span class="icon">{{ trans('visiosoft.module.comparisons::field.comparisonpagetitle') }}</span>
    {% endif %}
</div>

{% if(adv.video_url != null) %}
    <div class="contact-with">
        <h4>{{ trans('visiosoft.module.cloudinary::field.video') }}</h4>
        <a class="btn btn-success" onclick="openVideo()"><i class="fa fa-file-video-o"
                                                            aria-hidden="true"></i> {{ trans('visiosoft.module.cloudinary::field.video') }}
        </a>
        <div class="modal fade" id="adv-video" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="close-modal text-right">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">X
                        </button>
                    </div>
                    <div class="modal-body">
                        <video controls loop class="img-responsive"
                               style="text-align: center; width: 100%">
                            <source src="{{ adv.video_url }}" class="video-src"
                                    type="video/mp4"/>
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
                                {% if(profile.getObject().gsm_phone is not null or profile.office_phone is not null or entries('advs').isEnabled('messages')) %}
                                    <!-- contact-with -->
                                    <div class="contact-with">
                                        <h4> {{ trans('visiosoft.module.advs::field.contact_with') }}</h4>
                                        {% if(profile.getObject().gsm_phone != null) %}
                                            <span class="btn btn-red show-number" data-id="{{ adv.id }}">
									<i class="fa fa-phone-square"></i>
									<span class="hide-text">{{ trans('visiosoft.module.advs::field.click_phone') }} </span>
									<span class="hide-number">{{ trans("visiosoft.module.advs::field.phone_gsm") }}
                                        : {{ profile.getObject().gsm_phone }}
                                        {% if profile.office_phone != null and profile.office_phone != "" %}
                                            <br>
                                            {{ trans("visiosoft.module.advs::field.phone_office") }}:  {{ profile.office_phone }}
                                        {% endif %}
                                    </span>
								</span>
                                        {% endif %}
                                        {% if entries('advs').isEnabled('messages') %}
                                            <a data-content="{{ app.auth.id }}" id="message" class="btn"><i
                                                        class="fa fa-envelope-square"></i>{{ trans("visiosoft.module.advs::field.send_message") }}
                                            </a>
                                        {% endif %}
                                    </div><!-- contact-with -->
                                {% endif %}
                                {% if adv_detail_place_code %}
                                    <div>
                                        {{ adv_detail_place_code }}
                                    </div>
                                {% endif %}
<!-- social-links -->
<div class="social-links">
    <h4>{{ trans('visiosoft.module.advs::field.share') }}</h4>
    <ul class="list-inline">
        <li><a target="_blank"
               href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}"><i
                        class="fab fa-facebook-square"></i></a></li>
        <li><a target="_blank"
               href="https://twitter.com/intent/tweet?text={{ app.request.uri }}"><i
                        class="fab fa-twitter-square"></i></a></li>
        <li><a target="_blank" href="https://wa.me/?text={{ app.request.uri }}"><i
                        class="fab fa-whatsapp"></i></a></li>
        <li><a target="_blank"
               href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.uri }}"><i
                        class="fab fa-linkedin"></i></a></li>
    </ul>
</div>
<!-- social-links -->