{% extends "theme::layouts/default" %}
{% block content %}
    {% include "theme::partials/messages" %}
    {{ asset_add("scripts.js", "streams::js/form/form.js") }}
    {{ asset_add("scripts.js", "streams::js/form/translations.js") }}

    <div class="container-fluid">
        <div class="card">
            <div class="card-block">

                {% set actions = ['save'] %}

                {% if id is not null %}
                    {% set actions = ['update'] %}
                {% endif %}

                {% set form = form('cats','category').entry(id).actions(actions).get() %}
                {{ form_open({
                    'class': 'form ' ~ form.options.class ,
                    'enctype': 'multipart/form-data',
                })|raw }}
                <fieldset>
                    <div class="section">
                        {% set fields = form.fields.base().pluck('field_name').all() %}
                        <div class="field-group name">
                            {% for field in form.fields.translations('name') %}
                                {{ field.render({'form': form})|raw }}
                            {% endfor %}
                        </div>
                        {{ form.fields.slug|raw }}
                        <input type="hidden" name="parent_category"
                               value="{% if form.fields.parent_category.value.id is defined %}{{ form.fields.parent_category.value.id }}{% elseif app.request.get('parent')  is defined %}{{ app.request.get('parent') }}{% endif %}">
                        <div class="form-group icon-field input_file-field_type">
                            <label for="icon" class="control-label">
                                {{ form.fields.icon.label|raw }}
                            </label>
                            <p class="text-muted">
                                {{ form.fields.icon.instructions|raw }}
                            </p>
                            <div class="mb-1">
                                <span class="text-muted">
                                    {{ trans('visiosoft.module.cats::field.preview') }}:
                                </span>
                                {{ form.fields.icon.value
                                    ? img(url(form.fields.icon.value)).width(24)|raw
                                    : img('visiosoft.theme.base::images/default-categories-icon.png').width(24)|raw }}
                            </div>
                            {{ form.fields.icon.input|raw }}
                        </div>
                        {{ form.fields.seo_keyword|raw }}
                        {{ form.fields.seo_description|raw }}
                    </div><!-- section -->
                </fieldset>
            </div>
        </div>
        <div class="controls card">
            <div class="card-block">
                {{ form.actions|raw }}
            </div>
        </div>
    </div>
{% endblock %}