{% extends layout('posts') %}

{% block styles %}
    {{ asset_style("visiosoft.theme.base::css/post.scss") }}
{% endblock %}

{% block content %}
    <div class="continer p-0 m-0 maxWidth bg-white mx-auto">
        {% set posts = entries('posts').recent().paginate() %}

        <div class="row p-4 m-0">
            {% for post in posts %}
                <a href="{{ post.route('view') }}" class="col-xl-4 col-lg-6 col-md-12 col-12 text-decoration-none my-3">
                    <div class="bannerImage_2 position-relative">
                        {{ img( post.cover_photo.make.url ?? 'visiosoft.theme.base::images/no-image.png')
                            .class('w-100')|raw }}
                        <span class="p-1 fs-12 bgSpecial_6 position-absolute left-zero bottom-zero text-white">
                            {{ post.category.name }}
                        </span>

                    </div>
                    <div class="h3 my-2 fw-400 textBlack single-line">
                        {{ post.title }}
                    </div>
                    <div class="h6 my-2 fw-400 text-muted single-line">
                        {{ post.summary }}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    {% set selectedCats = setting_value('visiosoft.theme.base::list_cats') %}
    {% for selectedCat in selectedCats %}
        <div class="container p-0 m-0 maxWidth bg-white mx-auto">
            {% set posts = entries('posts').where('category_id', selectedCat).recent().paginate() %}
            {% if posts|length %}
                <div class="row p-4 p-0 m-0">
                    <div class="col-12 my-4">
                        <div class="fs-18 font-weight-bold text-uppercase">{{ posts.first.category.name }}</div>
                        <div class="lineGap_2 mt-1"></div>
                    </div>
                    <div class="col-md-8 col-12">
                        <div class="position-relative w-fit shadow-sm">
                            <a href="{{ posts.first.route('view') }}">
                                {{ img( posts.first.image.make.url ?? 'visiosoft.theme.base::images/no-image.png')
                                    .class('w-100')|raw }}
                                <div class="bgForLight"></div>
                                <div class="d-flex flex-column position-absolute p-4 bottom-zero left-zero z-index">
                                    <div class="text-uppercase bgSpecial_6 fs-12 text-white w-fit p-1 font-weight-bold px-2">
                                        {{ posts.first.category.name }}
                                    </div>
                                    <div class="text-white fs-26">{{ posts.first.title.value }}</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-md-0 mt-4">

                        {% for post in posts|slice(1, 3) %}
                            {% if loop.first %}
                                <div class="position-relative w-fit shadow-sm">
                                    <a href="{{ post.route('view') }}">
                                    {{ img( post.image.make.url ?? 'visiosoft.theme.base::images/no-image.png').class('w-100')|raw }}
                                    <div class="bgForLight"></div>
                                    <div class="d-flex flex-column position-absolute p-4 bottom-zero left-zero z-index">
                                        <div class="text-white fs-17px">{{ post.title }}</div>
                                        <div class="text-capitalize bg-white mt-2 fs-10 textBlack w-fit p-1 px-2">
                                            {{ post.category.name }}
                                        </div>
                                    </div>
                                    </a>
                                </div>
                            {% else %}
                                <div class="d-flex my-3">
                                    <a href="{{ post.route('view') }}" class="d-flex text-dark">
                                        {{ img( post.image.make.url ?? 'visiosoft.theme.base::images/no-image.png')
                                            .class('ImageWidth mr-3 w-100')|raw }}
                                        <div class="d-flex flex-column">
                                            <div class="text-capitalize fw-500 fs-13">{{ post.title }}</div>
                                            <div class="text-capitalize bgSpecial_6 mt-2 fs-10 text-white w-fit p-1 px-2">
                                                {{ post.category.name }}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {{ posts.links|raw }}
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
