{{ asset_add("styles.css", "anomaly.field_type.slider::css/slider.css") }}
{{ asset_add("scripts.js", "anomaly.field_type.slider::js/input.js") }}

<label class="slider__label value-label">
    {{ trans("anomaly.field_type.slider::input.value") }}:
    <span class="slider__value value">{{ field_type.value ?: field_type.defaultValue() }}</span>
    {{ field_type.config.unit }}
</label>

<input
        type="range"
        name="{{ field_type.input_name }}"
        value="{{ field_type.value ?: field_type.defaultValue() }}"
        min="{{ field_type.config.min }}"
        max="{{ field_type.config.max }}"
        step="{{ field_type.config.step }}"
        {{ html_attributes(field_type.attributes) }}>
