<ul class="categories-list p-0 d-none d-sm-block">
    <li class="categories-list-li category-icon category-{{ main_category.slug }}">
        {% set categoryIcon = (main_category.icon) ? main_category.icon : img('visiosoft.theme.base::images/default-categories-icon.png').url %}

        <img src="{{ categoryIcon }}" alt="{{ main_category.name }}" class="img-responsive">
        <a href="{{ url_route('adv_list_seo', [main_category.slug]) }}" class="main-category">
            <b>{{ main_category.name }}</b>
            {% if showAdsCount %}
                <small class="text-muted">
                    ({{ main_category.count }})
                </small>
            {% endif %}
        </a>
        <ul class="p-0">
            {% set subCatCount = 0 %}
            {% for subcats in cats.subcats %}
                {% if main_category.id ==  subcats.id %}
                    {% set subCatCount = subCatCount + 1 %}

                    {% set hideclass =  "" %}
                    {% if subCatCount > sub_categories_limit %}
                        {% set hideclass =  "hidden hidden-category" %}
                    {% endif %}

                    <li class="{{ hideclass }}">
                        <a href="{{ url_route('adv_list_seo', [subcats.c2_slug]) }}"
                           class="">{{ subcats.c2_name }}</a>
                        {% if showAdsCount %}
                            <small class="text-muted">
                                ({{ subcats.c2_count }})
                            </small>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}

            {% if subCatCount > sub_categories_limit %}
                <li class="show-all" data-limit="{{ sub_categories_limit }}">
                    <a>
                        <span class="">
                            {{ trans('visiosoft.theme.base::button.show_all') }}
                            <i class="fas fa-arrow-circle-down"></i>
                        </span>
                        <span class="hidden">
                            {{ trans('visiosoft.theme.base::button.hide_all') }}
                            <i class="fas fa-arrow-circle-up"></i>
                        </span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </li>
</ul>