<ul class="categories-list px-0 mr-2 d-block d-sm-none">
    <li class="categories-list-li category-icon text-truncate category-{{ main_category.slug }}">
        <a href="{{ url_route('adv_list_seo', [main_category.slug]) }}" class="main-category">
            {% set categoryIcon = (main_category.icon) ? main_category.icon : img('visiosoft.module.advs::images/listing/sample-cat-icon.svg').url %}
            <img src="{{ categoryIcon }}" alt="{{ main_category.name }}" class="img-responsive">
            <span>{{ main_category.name }}</span>
            <p class="p-0 sub-categories">
                {% for subcats in cats.subcats %}
                    {% if main_category.id ==  subcats.id %}
                        {{ subcats.c2_name }},
                    {% endif %}
                {% endfor %}
            </p>
        </a>
    </li>
</ul>