{% set latest_advs = entries('advs').latestAdvs() %}
{% for adv in latest_advs %}
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 thumb s-product-item">
        <a href="{{ adv.detail_url }}">
            <div class="card hovercard">
                <div class="s-ad-item">
                    <img alt="" width="100%" height="100px" src="{{ adv.cover_photo }}" alt="{{ adv.name }}">
                </div>
                <div class="card-footer text-center s-ad-title">{{ adv.name }}</div>
                <div class="card-footer text-center">{{ adv.price }} {{ adv.currency }}</div>
            </div>
        </a>
    </div>
{% endfor %}
