{% set current_locale = entries('advs').getCurrentLocale() %}
<li class="dropdown language-navigation-field navigation-lang-field-none d-none d-lg-block"><a
            href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">
        <img src="{{ img('theme::images/flags/'~config('app.locale')~'.svg').url }}"
             class="lang-flag">
        <font>{{ current_locale }}</font>
        <span class="caret-openclassify"></span>
    </a>
    <ul class="dropdown-menu">
        {% for locale in config('streams::locales.enabled') %}
            <li>
                <a href="{{ url('/') }}?_setLang={{ locale }}&redirect={{ url_full() }}">
                    <img src="{{ img('theme::images/flags/'~locale~'.svg').url }}" class="lang-flag">
                    {{ trans('streams::locale.' ~ locale ~ '.name') }}
                </a>
            </li>
        {% endfor %}
    </ul>
</li>

