<!-- Locale -->
<meta http-equiv="Content-Language" content="{{ config('app.locale') }}">

<!-- To the Future! -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!-- font -->

<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Signika+Negative:400,300,600,700' rel='stylesheet' type='text/css'>

<!-- Meta Tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="generator" content="{{ config_get('streams::distribution.name') }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="description" content="{{ trans(template.meta_description) }}"/>

{% if app.request.pathInfo == "/" %}
    <meta name="keywords"
          content="{% for tag in setting_value('visiosoft.theme.base::meta_tags') %}{{ tag }},{% endfor %}">
{% else %}
    <meta name="keywords" content="{{ trans(template.meta_keywords) }},{% for tag in adv.meta_tags %}{{ tag }},{% endfor %}">
{% endif %}

<title>{{ setting_value('streams::name', config_get('streams::distribution.name')) }}|{{ trans(template.meta_title) }}</title>
{% if app.request.pathInfo == "advs/adv/" %}
{% block opengraph %}
    <meta property="og:site_name"
          content="{{ setting_value('streams::name', config_get('streams::distribution.name')) }}|{{ trans(template.meta_title) }}"/>
    {#<meta property="og:image" content="{{ image_url('qcr.theme.qcr::img/og.png') }}"/>#}
    <meta property="og:description" content="{{ trans(template.meta_description) }}"/>
    <meta property="og:title" content="{{ setting_value('streams::name', config_get('streams::distribution.name')) }}|{{ trans(template.meta_title) }}"/>
    <meta property="og:url" content="{{ url_current() }}"/>
    <meta property="og:type" content="website"/>
{% endblock %}
{% endif %}


<!-- Favicon -->
{{ favicons(url('files/' ~ file(setting_value('visiosoft.module.advs::favicon')).path)) }}

{# Base Theme Components #}
{{ asset_add("theme.css", "visiosoft.theme.base::scss/bootstrap/bootstrap.scss") }}
{{ asset_add("theme.css", "visiosoft.theme.base::font-awesome/css/all.css") }}

{{ asset_add("theme.css", "visiosoft.theme.defaultadmin::css/select2.css") }}

{{ asset_style("theme.css") }}
{# Specific Build Files #}
{{ asset_add("build.css", "visiosoft.theme.base::scss/theme/theme.scss", ["live"]) }}

{# Specific Build Files #}
{{ asset_add("build.css", "visiosoft.theme.base::scss/theme/theme.scss", ["live"]) }}

{# Include Asset Collections #}
<style type="text/css">
    {#{{ asset_inline("theme.css", ["min"]) }}#}
    {{ asset_inline("build.css", ["parse", "min", "watch@visiosoft.theme.base::scss/theme"]) }}
</style>

{{ asset_add("visiosoft_default.css", "visiosoft.theme.base::css/default/*") }}
{% if setting_value('visiosoft.theme.base::template') == "s" %}
    {{ asset_add("visiosoft_default.css", "visiosoft.theme.base::css/sahb.css") }}
{% endif %}


{{ asset_style("visiosoft_default.css") }}
{{ template.includes.render('head')|raw }}

{# Important!! #}
{{ constants() }}
