<!-- Locale -->
<meta http-equiv="Content-Language" content="{{ config('app.locale') }}">

<!-- To the Future! -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!-- Meta Tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="generator" content="{{ config_get('streams::distribution.name') }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="description" content="{{ trans(template.meta_description) }}"/>

{% block ogdata %}
    <meta property="og:site_name"
          content="{{ template.get('og_site_name', setting_value('streams::name', config_get('streams::distribution.name'))) }}"/>
    <meta property="og:description" content="{{ template.get('og_description', trans(template.meta_description)) }}"/>
    <meta property="og:title" content="{{ template.get('og_title', trans(template.meta_title)) }}"/>
    <meta property="og:url" content="{{ template.get('og_url', url_current()) }}"/>
    <meta property="og:image" content="{{ template.get('og_image') }}"/>
    <meta property="og:type" content="website"/>
{% endblock %}

<title>
    {{ setting_value('streams::name', config_get('streams::distribution.name')) }}
    &#8250;
    {{ trans(template.meta_title) }}
</title>

<!-- Favicon -->
{#{{ favicons("theme::img/favicon.png") }}#}

{# Base Theme Components #}
{{ asset_add("theme.css", "theme::css/bootstrap.min.css") }}
{{ asset_add("theme.css", "theme::css/theme.css") }}
{{ asset_add("theme.css", "theme::css/font-awesome.min.css") }}
<script src="{{ asset_path('theme::js/vendor/jquery.min.js') }}"></script>

{{ asset_style("theme.css") }}



{# Important!! #}
{{ constants() }}
