<!-- Locale -->
<meta http-equiv="Content-Language" content="{{ config('app.locale') }}">

<!-- To the Future! -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

{% include "visiosoft.theme.base::partials/metatags" %}

{% include "visiosoft.theme.base::partials/ogdata" %}

<title>
    {{ setting_value('streams::name', config_get('streams::distribution.name')) }}
    &#8250;
    {{ trans(template.meta_title) }}
</title>

<!-- Favicon -->
{#{{ favicons("theme::img/favicon.png") }}#}

{# Base Theme Components #}
{{ asset_add("theme.css", "theme::css/bootstrap.min.css") }}
{{ asset_add("theme.css", "theme::css/theme.css") }}
{{ asset_add("theme.css", "theme::css/select2.css") }}
{{ asset_add("theme.css", "theme::css/font-awesome.min.css") }}
<script src="{{ asset_path('theme::js/vendor/jquery.min.js') }}"></script>

{{ asset_style("theme.css") }}



{# Important!! #}
{{ constants() }}
