<!-- Meta Tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width"/>
<meta name="generator" content="{{ config_get('streams::distribution.name') }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover">
<meta name="description"
      content="{{ (template.get('meta_description') ?: setting_value('streams::description'))|slice(0,160) }}"/>
<meta name="keywords" content="{{ template.get('meta_keywords') }}" />
{{ setting_value('visiosoft.module.advs::google_statistic_code')|raw }}
<!-- Meta Tags -->

{% set additionalMeta = template.get('additional_meta') %}
{{ additionalMeta ? additionalMeta|raw }}

<title>
    {% set title = trans(template.meta_title) %}
    {% set showTitle = template.showTitle is same as(false) ? false : true %}
    {% if showTitle %}
        {% set title = setting_value('streams::name', config_get('streams::distribution.name'))~" | "~trans(template.meta_title) %}
    {% endif %}
    {{ title|slice(0,60) }}
</title>

{% include "visiosoft.theme.base::partials/ogdata" %}
