<div class="col-xs-12 visible-xs s-mobile-categories">
    <ul class="list-group">
        {% set main_categories = entries('cats','category').where('parent_category_id', null).where('deleted_at', null).orderBy('sort_order').get() %}
        {% for main_category in main_categories %}
            <li class="list-group-item">
                <a href="{{ url_route('visiosoft.module.advs::list') }}?cat={{ main_category.id }}">
                    {% if main_category.files[0].path != "" %}
                        <img src="{{ url('files/' ~ main_category.files[0].path) }}" alt="{{ main_category.name }}"
                             class="img-responsive">
                    {% endif %}
                    <font>{{ main_category.name }}</font>
{#                    <span>Konut, İşyeri, Arsa, Projeler, Bina, Devremülk, Turistik Tesis</span></a>#}
            </li>
        {% endfor %}
    </ul>
</div>