<div class="custom-inputs-stacked" {{ html_attributes(field_type.attributes) }}>

    <label class="{#custom-control#} custom-radio">
        <input
                type="radio"
                value="true"
                name="{{ field_type.input_name }}"
                {{ field_type.is_true ? 'checked' }}>

        <span class="{#custom-control-indicator#}"></span>

        {{ trans(field_type.config.on_text ?: 'anomaly.field_type.boolean::choice.yes') }}
    </label>

    <br>

    <label class="{#custom-control#} custom-radio">
        <input
                type="radio"
                value="false"
                name="{{ field_type.input_name }}"
                {{ field_type.is_false ? 'checked' }}>

        <span class="{#custom-control-indicator#}"></span>

        {{ trans(field_type.config.off_text ?: 'anomaly.field_type.boolean::choice.no') }}
    </label>

</div>