{% extends "theme::layouts/default" %}

{% block content %}
    <div class="d-flex mt-4 forgot-wrapper">
        <div class="d-none d-md-block">
            <img src="{{ img('visiosoft.theme.base::images/forgot-password.png').url }}" class="forgot-img"
                 alt="forgot password icon">
        </div>

        <div class="m-0 ml-md-5 forgot-form-wrapper w-100">
            {% set form = form('forgot_pass').redirect(request_get('redirect', '/'))
                .get() %}
            {{ form_open({
                'class': 'form ' ~ form.options.class ,
                'url':form.options.url
            })|raw }}

            <div>
                <h5 class="d-none d-md-block">{{ trans('visiosoft.theme.base::field.create_new_password') }}</h5>
                <div class="form-group email-field email-field_type text-center text-md-left">
                    <label class="control-label mb-3 mb-md-0">
                        <span>
                            {{ trans('visiosoft.theme.base::field.email_or_phone_number') }}
                        </span>
                        <span class="required">*</span>
                    </label>

                    <div class="input-wrapper">
                        {{ form.fields.email.input|raw }}
                    </div>
                </div>
            </div>

            <div class="m-0">
                <button class="btn btn-sm btn-primary py-2 px-5 w-100">
                    {{ trans('visiosoft.theme.base::button.continue') }}
                </button>
            </div>
        </div>
    </div>
    {{ asset_add('styles.css', 'visiosoft.theme.base::css/forgot.css') }}
{% endblock %}