{% extends "theme::layouts/default" %}

{% block content %}
    <div class="d-flex mt-4 forgot-wrapper">
        <div class="d-none d-md-block">
            <img src="{{ img('visiosoft.theme.base::images/forgot-password.png').url }}" class="forgot-img"
                 alt="forgot password icon">
        </div>

        <div class="m-0 ml-md-5 forgot-form-wrapper w-100">
            {% set form = form('reset_password').redirect(request_get('redirect', '/'))
                .get() %}
            {{ form_open({
                'class': 'form ' ~ form.options.class ,
                'url':form.options.url
            })|raw }}

            <div>
                <h5 class="d-none d-md-block">{{ trans('visiosoft.theme.base::field.create_new_password') }}</h5>
                <div class="form-group email-field password-field_type mb-2 text-center text-md-left">
                    <label class="control-label mb-0">
                        {{ trans('visiosoft.theme.base::field.password') }}
                        <span class="required">*</span>
                    </label>

                    <div class="input-wrapper">
                        {{ form.fields.password.input|raw }}
                    </div>
                </div><div class="form-group email-field password_confirmation-field_type text-center text-md-left">
                    <label class="control-label mb-0">
                        {{ trans('visiosoft.theme.base::field.password_confirmation') }}
                        <span class="required">*</span>
                    </label>

                    <div class="input-wrapper">
                        {{ form.fields.password_confirmation.input|raw }}
                    </div>
                </div>
            </div>

            <div class="m-0 text-center text-md-left">
                <button class="btn btn-sm btn-primary py-2 px-3">
                    {{ trans('visiosoft.theme.base::button.continue') }}
                </button>
            </div>
        </div>
    </div>
    {{ asset_add('styles.css', 'visiosoft.theme.base::css/forgot.css') }}
{% endblock %}