{% extends "theme::layouts/default" %}
{% block content %}
    {% include "theme::partials/messages" %}
    {% set form = form('advs', 'categories').entry(id).get() %}
    {{ form_open()|raw }}
        <div class="container-fluid">
            <div class="card">
                <div class="card-block">
                    {{ form.fields.name|raw }}
                    {{ form.fields.slug|raw }}
                    <input type="hidden" name="parent_category"
                     value="{% if form.fields.parent_category.value.id is defined %}{{ form.fields.parent_category.value.id }}{% elseif app.request.get('parent')  is defined %}{{ app.request.get('parent') }}{% endif %}">
                    {{ form.fields.order|raw }}
                    {{ form.fields.files|raw }}
                </div>
            </div>
            <div class="controls card">
                <div class="card-block">
                    {{ form.actions|raw }}
                </div>
            </div>
        </div>
    {{ form.close|raw}}
    {{ asset_add("scripts.js", "visiosoft.module.advs::js/admin-cat.js") }}
{% endblock %}