{% extends "theme::layouts/default" %}

{% block ogdata %}
    <meta property="og:site_name"
          content="{{ template.get('og_site_name', setting_value('streams::name', config_get('streams::distribution.name'))) }}"/>
    <meta property="og:description" content="{{ adv.advs_desc|striptags|raw }}"/>
    <meta property="og:title" content="{{ adv.title }}"/>
    <meta property="og:url" content="{{ template.get('og_url', url_current()) }}"/>
    <meta property="og:image" content="{{ adv.getViewPhotoUrl|first }}">
    <meta property="og:type" content="website"/>
{% endblock %}
{% block content %}
    {{ asset_add("scripts.js", "theme::js.default.fotorama.min.js") }}
    {{ asset_add("theme.css", "theme::css.default.fotorama.min.css") }}
    {% if entries('advs').isEnabled('comments') %}
        {{ asset_add("styles.css", "visiosoft.module.comments::css/style.css") }}
    {% endif %}
    <section id="main" class="clearfix details-page">
        <div class="container">
            {% include "theme::partials/messages" %}
            <div class="breadcrumb-section">
                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    {% for cat in categories %}
                        <li><a href="{{ url_route('visiosoft.module.advs::list_cat', [cat.id]) }}">{{ cat['name'] }}</a>
                        </li>
                    {% endfor %}
                </ol><!-- breadcrumb -->
                <h2 class="title">{{ categories|last['name'] }}</h2>
            </div>

            <div class="section banner">
            </div><!-- banner -->
            <div class="section slider">
                <div class="row">
                    <!-- carousel -->
                    <div class="col-md-7 slider-box">
                        {% if blocks('ad-item-picture-block-area') is null %}
                            {% include "visiosoft.module.advs::advs/partials/blocks/ads-item-picture-block" %}
                        {% else %}
                            {{ blocks('ad-item-picture-block-area') }}
                        {% endif %}
                    </div><!-- Controls -->

                    <!-- slider-text -->
                    <div class="col-md-5">
                        <div class="slider-text">
                            {% if entries('advs').isEnabled('favs') %}
                                <a class="favorites" href="#"><i id="heart-icon-adv" class="far fa-heart"></i></a>
                            {% endif %}
                            <h3 class="title">{{ adv.title }}</h3>
                            <h2 class="ad-price">
                                <b>{{ adv.price.format() }}</b> {{ adv.currency }}
                                {% if app.auth.id == adv.created_by_id %}
                                    <a class="btn btn-info edit-adv-btn" href="/advs/edit_advs/{{ adv.id }}"><i
                                                class="fa fa-pencil-square-o"></i>
                                        <font>{{ trans('visiosoft.module.advs::field.edit') }}</font></a>
                                    {% if adv.status != "pending_admin" and adv.status != "approved" %}
                                        <a class="btn btn-success approve-adv-btn"
                                           href="{{ url_route('visiosoft.module.advs::status',[adv.id,"pending_admin"]) }}"><i
                                                    class="fa fa-eye"></i>
                                            <font>{{ trans('visiosoft.module.advs::field.approve') }}</font></a>
                                    {% else %}
                                        <a class="btn btn-danger passive-adv-btn"
                                           href="{{ url_route('visiosoft.module.advs::status',[adv.id,"passive"]) }}"><i
                                                    class="fa fa-ban"></i>
                                            <font>{{ trans('visiosoft.module.advs::field.passive') }}</font></a>
                                    {% endif %}
                                {% endif %}
                            </h2>
                            <div class="user-interactions">

                                {% if adv.is_get_adv == "1" and adv.stock != "0" and entries('advs').isEnabled('carts') %}
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 add-cart-row">
                                        <div class="add-cart-quantity-field">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 add-cart-reduce">
                                                <button type="button" class="btn btn-default btn-number bg-secondary"
                                                        data-type="minus"
                                                        data-field="quant[1]" disabled="true">
                                                </button>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-2 col-xs-1 add-cart-quantity">
                                                <input type="text" name="quant[1]" data-id="{{ adv.id }}"
                                                       class="form-control add-cart-quantity-input" value="1"
                                                       min="1" max="10">
                                                <span>{{ trans('visiosoft.module.advs::field.quantity') }}</span>
                                                {#Trans yapılacak#}
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 add-cart-upgrade">
                                                <button type="button" class="btn btn-default btn-number"
                                                        data-type="plus"
                                                        data-field="quant[1]" {% if adv.stock < "2" %} disabled="true" {% endif %}>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="add-cart-button-field">

                                            <a class="btn btn-success add-cart-button"
                                               href="{{ url_route('addCart',[adv.id]) }}"><i
                                                        class="fa fa-shopping-cart"></i> {{ trans('visiosoft.module.orders::field.addcart') }}
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if blocks('ad-item-details-block-area') is null %}
                                    {% include "visiosoft.module.advs::advs/partials/blocks/ads-item-details-block" %}
                                {% else %}
                                    {{ blocks('ad-item-details-block-area') }}
                                {% endif %}
                            </div>
                        </div><!-- slider-text -->
                    </div>
                </div>
                {% if entries('advs').isEnabled('complaints') %}
                    <a class="complaints pull-right" id="complaints"
                       title="{{ trans('visiosoft.module.advs::field.report') }}"><i
                                class="fa fa-exclamation-triangle"></i></a>
                {% endif %}


            </div><!-- slider -->



            {% if blocks('ad-item-content-block-area') is null %}
                {% include "visiosoft.module.advs::advs/partials/blocks/ads-item-content-block" %}
            {% else %}
                {{ blocks('ad-item-content-block-area') }}
            {% endif %}




            <div class="recommended-info">
                <div class="row">
                    <div class="col-sm-8">

                    </div><!-- recommended-ads -->

                    <div class="col-sm-4 text-center">

                    </div><!-- recommended-cta-->
                </div><!-- row -->
            </div><!-- recommended-info -->
        </div><!-- container -->
    </section>



    {% if entries('advs').isEnabled('complaints') %}
        {% include "visiosoft.module.complaints::modal" %}
    {% endif %}


    <div id="messages_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form action="{{ url_route('visiosoft.module.messages::save_message', [adv.id]) }}" method="post">
                <input id="message-token" type="hidden" name="_token" value="{{ csrf_token() }}">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header message-header">
                        <h4 class="modal-title">{{ trans('visiosoft.module.advs::field.send_message') }}</h4>
                    </div>
                    <div class="modal-body message-body">
                        <input id="adv-id" type="hidden" value="{{ adv.id }}">
                        <textarea name="detail" id="message-detail" rows="7"></textarea>
                    </div>
                    <div class="modal-footer message-footer">
                        <button id="message-button" type="button"
                                class="btn btn-primary">{{ trans('visiosoft.module.advs::field.send') }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="message-sent-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header message-header">
                    <h4 class="modal-title">{{ trans('visiosoft.module.advs::field.message_sent') }}</h4>
                </div>
                <div class="modal-body message-body">
                    <span>{{ trans('visiosoft.module.advs::field.asap') }}</span>
                </div>
                <div class="modal-footer message-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
    {% if entries('advs').isEnabled('favs') %}
        {{ asset_add("scripts.js", "visiosoft.module.advs::js/favs.js") }}
    {% endif %}
    {{ asset_add("scripts.js", "visiosoft.module.advs::js/list-item.js") }}
    {{ asset_add("scripts.js", "visiosoft.module.advs::js/quantity.js") }}
    {{ asset_add("scripts.js", "visiosoft.module.advs::js/phoneCounter.js") }}
    {{ asset_add("scripts.js", "visiosoft.module.advs::js/viewed.js") }}

    {% if entries('advs').isEnabled('comments') %}
        {{ asset_add("scripts.js", "visiosoft.module.comments::js/ajaxcomment.js") }}
    {% endif %}

    {% if entries('advs').isEnabled('comparisons') %}
        {% include "visiosoft.module.comparisons::comparison" %}
    {% endif %}

{% endblock %}

{% block customjs %}

    {% if entries('advs').isEnabled('streetview') and adv.map_Val != "" %}
        {% include "visiosoft.module.streetview::list-item" %}
    {% endif %}

{% endblock %}
