{% set recently_ads = getRecently() %}
{% if recently_ads is not null %}
    <div class="latest-ads-home">
        <div class="row pl-2 pt-2 pr-2 pb-0 header-home-centent">
            <div class="col">
                <h3 class="p-0 latest-title">{{ trans('visiosoft.module.recentlyviewedads::field.home_title.name') }}</h3>
            </div>
        </div>

        <div class="row list-classified-home">
            {% for adv in recently_ads|slice(0,setting_value('visiosoft.module.recentlyviewedads::default_home_recently_ads_view_limit')) %}
                <div class="col-xs-6 d-flex align-items-stretch p-0 home-classified-row">
                    <div class="mx-auto card mb-1 box-shadow border-0">
                        <div class="row px-1 py-2 classified-image">
                            <a href="{{ adv.detail_url }}">
                                <div class="col-md-12 justify-content-center align-self-center">
                                    <img class="card-img-top img-fluid img-thumbnail"
                                         src="{{ adv.cover_photo }}">
                                </div>
                            </a>
                        </div>

                        <div class="card-body px-2 py-0 classified-subject">
                            <div class="d-flex justify-content-between align-items-center text-truncate">
                                <a href="{{ adv.detail_url }}" class="">
                                    <span class="card-title">{{ adv.name }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}