<div id="search-fav-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header message-header">
                <h4 class="modal-title">{{ trans("visiosoft.module.favs::field.add_to_favorites") }}</h4>
            </div>
            <form action="{{ url_route("visiosoft.module.favs::add_search") }}" method="POST">
                <div class="modal-body search-fav-body">
                    <input type="hidden" name="_token" value="{{ csrf_token() }}">
                    <input name="url" type="hidden" value="{{ app.request.getRequestUri }}">
                    <input placeholder="{{ trans("visiosoft.module.favs::field.search_name") }}"
                           class="form-control" type="text" name="item_name" required>
                </div>
                <div class="modal-footer message-footer">
                    <button id="send-fav-search" class="btn btn-success"
                            type="submit">{{ trans("visiosoft.module.favs::field.send") }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{ asset_add('scripts.js','visiosoft.module.favs::js/favs_search.js') }}