<div class="col-6">
    <div class="form-group display_name-field display_name-field_type">
        <label class="control-label">
            {{ trans('visiosoft.theme.base::field.first_name') }}
            <span class="required">*</span>
        </label>

        <div class="input-wrapper">
            {{ form.fields.first_name.setPlaceholder(trans('visiosoft.theme.base::field.first_name')).input|raw }}
            {{ form.fields.username.setValue(random()).setAttributes({
                'class' :'hidden',
            }).input|raw }}
        </div>
    </div>
</div>
<div class="col-6">
    <div class="form-group username-field username-field_type">
        <label class="control-label">
            {{ trans('visiosoft.theme.base::field.last_name') }}
            <span class="required">*</span>
        </label>

        <div class="input-wrapper">
            {{ form.fields.last_name.setPlaceholder(trans('visiosoft.theme.base::field.last_name')).input|raw }}
        </div>
    </div>
</div>
{% if setting_value('visiosoft.module.advs::register_email_field') %}
    <div class="col-12">
        <div class="form-group email-field email-field_type">
            <label class="control-label">
                {{ trans('visiosoft.theme.base::field.email') }}
                <span class="required">*</span>
            </label>

            <div class="input-wrapper">
                {{ form.fields.email.setPlaceholder(trans('visiosoft.theme.base::field.email')).input|raw }}
            </div>
        </div>
    </div>
{% else %}
    {% set domain = config('app.url')|replace({ ('https://'): '',('http://'): '',('/'): '/' }) %}
    {% if domain == "localhost" %}
        {% set domain = "example.com" %}
    {% endif %}
    {{ form.fields.email.setValue(random()~"@"~domain).setAttributes({
        'class' :'hidden',
    }).input|raw }}
{% endif %}
<div class="col-12">
    <div class="form-group email-field phone-field_type register-phone mb-2">
        <label class="control-label">
            {{ trans('visiosoft.theme.base::field.phone_number') }}
            <span class="required">*</span>
        </label>

        <div class="input-wrapper validate-phone">
            {{ form.fields.phone.setAttributes({'maxlength': 15}).setValue(form.fields.phone.value).input|raw }}
            <div id="default-phone-country" class="hidden">{{ setting_value('visiosoft.module.location::country_for_phone_field') }}</div>
        </div>
    </div>
</div>
<div class="col-12 mb-3">
    <p class="phone-validation-error mb-0 d-none">
        <i class="fa fa-times-circle"></i>
        {{ trans('visiosoft.theme.base::field.phone_validation_error') }}
    </p>
</div>

<div class="col-12">
    <div class="form-group password-field password-field_type">
        <label class="control-label">
            {{ trans('visiosoft.theme.base::field.password') }}
            <span class="required">*</span>
        </label>

        <div class="input-wrapper">
            {{ form.fields.password.setPlaceholder(trans('visiosoft.theme.base::field.password')).input|raw }}
        </div>
    </div>
</div>