{% extends layout('classified-detail') %}

{% block styles %}
    {{ asset_style("visiosoft.module.classifieds::css/detail.css") }}
{% endblock %}

{% block content %}
    <section id="main" class="clearfix details-page">
        <div class="container">

            <!-- admin -->
            {% include "visiosoft.module.classifieds::classified-detail/partials/author-button" %}
            <!-- admin -->

            {% if setting_value('visiosoft.theme.base::breadcrumbs') %}
                <!-- breadcrumb -->
                {% include "visiosoft.module.classifieds::classified-detail/partials/breadcrumb" %}
                <!-- breadcrumb -->
            {% endif %}
            {% include "visiosoft.module.classifieds::classified-detail/partials/classified-status" %}
            <h2 class="title">
                {{ classified.title }}
                {{ addBlock('classified-detail/title/action',{'classified_id':classified.id})|raw }}
            </h2>

            <!--detail-classified -->
            <div class="section slider mb-4">
                <div class="row">
                    {% include "visiosoft.module.classifieds::classified-detail/partials/slider" %}
                    <div class="col-md-5">
                        {% if setting_value('visiosoft.theme.base::classified_details') %}
                            {% include "visiosoft.module.classifieds::classified-detail/partials/detail" %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <!--detail-classified -->

            <ul class="docs list-unstyled">
                {% for doc in classified.doc_files %}
                    <li><a class="text-dark small" href="{{ doc.url }}" download><i class="fa fa-lg fa-download small"></i> {{ doc.name }}</a></li>
                {% endfor %}
            </ul>

            {% if setting_value('visiosoft.theme.base::classified_details_tab') %}

                {% if blocks('classified-item-content-block-area') is null %}
                    {% include "visiosoft.module.classifieds::classified-detail/partials/content" %}
                {% else %}
                    {{ blocks('classified-item-content-block-area') }}
                {% endif %}

                {{ addBlock('classified-detail/widget', {'price': classified.price, 'id': classified.id})|raw }}
            {% endif %}
        </div>

        {% include "visiosoft.module.classifieds::classified-detail/partials/dropleft-edit" %}
    </section>

    {{ asset_add("scripts.js", "visiosoft.module.classifieds::js/viewed.js") }}

{% endblock %}