{% if not field_type.disabled or not field_type.readonly %}
    {{ asset_add('styles.css', 'anomaly.field_type.relationship::css/lookup.css') }}
    {{ asset_add('scripts.js', 'anomaly.field_type.relationship::js/lookup.js') }}

    <a
            data-toggle="modal"
            data-target="#{{ field_type.field_name }}-modal"
            class="btn btn-success btn-xs"
            href="{{ url('streams/relationship-field_type/index/' ~ field_type.key) }}"
    >
        {{ icon('search') }}
        {{ trans('streams::button.select') }}</a>
{% endif %}

<input
        type="hidden"
        name="{{ field_type.input_name }}"
        value="{{ field_type.value.id ?: field_type.value }}"
        {{ html_attributes(field_type.attributes) }}
        {{ field_type.disabled ? 'disabled' }}
        {{ field_type.readonly ? 'readonly' }}>

<div class="selected">
    {{ field_type.table|raw }}
</div>

<div class="modal remote" id="{{ field_type.field_name }}-modal">
    <div class="modal-dialog modal-wide">
        <div class="modal-content"></div>
    </div>
</div>
