<div class="cta text-center">
    <div class="row">z
        <!-- single-cta -->
        <div class="col-sm-4">
            <div class="single-cta">
                <!-- cta-icon -->
                <div class="cta-icon icon-secure">
                    <img src="images/icon/13.png" alt="Icon" class="img-responsive">
                </div><!-- cta-icon -->

                <h4>{{ trans('visiosoft.theme.base::addon.single_cta1') }}</h4>
                <p>{{ trans('visiosoft.theme.base::addon.single_cta2') }}</p>
            </div>
        </div><!-- single-cta -->

        <!-- single-cta -->
        <div class="col-sm-4">
            <div class="single-cta">
                <!-- cta-icon -->
                <div class="cta-icon icon-support">
                    <img src="images/icon/14.png" alt="Icon" class="img-responsive">
                </div><!-- cta-icon -->

                <h4>{{ trans('visiosoft.theme.base::addon.single_cta3') }}</h4>
                <p>{{ trans('visiosoft.theme.base::addon.single_cta4') }}</p>
            </div>
        </div> <!-- single-cta -->

        <!-- single-cta -->
        <div class="col-sm-4">
            <div class="single-cta">
                <!-- cta-icon -->
                <div class="cta-icon icon-trading">
                    <img src="images/icon/15.png" alt="Icon" class="img-responsive">
                </div><!-- cta-icon -->

                <h4>{{ trans('visiosoft.theme.base::addon.single_cta5') }}</h4>
                <p>{{ trans('visiosoft.theme.base::addon.single_cta6') }}</p>
            </div>
        </div><!-- single-cta -->
    </div><!-- row -->
</div>
