<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#balancePanel">
            {{ trans('visiosoft.module.balances::field.menu_balance.name') }} ({{ userbalance }})<span
                    class="pull-right"><i class="fa fa-plus"></i></span>
        </a>
    </h4>
</div>
<div id="balancePanel" class="panel-collapse collapse">
    <!-- panel-body -->
    <div class="section">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ trans("visiosoft.module.packages::field.package_title.name") }}</th>
                <th scope="col">{{ trans("visiosoft.module.packages::field.balance_limit.name") }}</th>
                <th scope="col">{{ trans("visiosoft.module.packages::field.package_price.name") }}</th>
                <th scope="col">{{ trans("visiosoft.module.packages::field.actions.name") }}</th>
            </tr>
            </thead>
            <tbody>
            {% for key,balance in balancespackage %}
                <tr>
                    <th scope="row">{{ key+1 }}</th>
                    <td>{{ balance.name }}</td>
                    <td>{{ balance.limit }}</td>
                    <td>{{ balance.price }}</td>
                    <td><a class="btn btn-sm btn-success" style="margin-top:0px; margin-bottom: 0px"
                           href="{{ url_route('visiosoft.module.balances::save',[balance.id]) }}" role="button">
                            <i class="fa fa-shopping-cart"
                               aria-hidden="true"></i> {{ trans("visiosoft.module.packages::button.buy-btn") }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!--panel-body-end-->
</div>