<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#favoritesPanel">
            {{ trans('visiosoft.module.profile::field.favorites') }}<span class="pull-right"><i class="fa fa-plus"></i></span>
        </a>
    </h4>
</div>
<div id="favoritesPanel" class="panel-collapse collapse">
    <!-- panel-body -->
    <div id="favs-outer">
        <div class="ad-profile section">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="profile active"><a class="tab-btn" href="#fav_advs"
                                                                  aria-controls="fav_advs" role="tab"
                                                                  data-toggle="tab">{{ trans("visiosoft.module.profile::field.fav_advs") }}</a>
                </li>
                <li role="presentation" class="myads"><a class="tab-btn" href="#fav_sellers" aria-controls="fav_sellers"
                                                         role="tab"
                                                         data-toggle="tab">{{ trans("visiosoft.module.profile::field.fav_sellers") }}</a>
                </li>
                <li role="presentation" class="archived_ads"><a class="tab-btn" href="#fav_searches"
                                                                aria-controls="fav_searches" role="tab"
                                                                data-toggle="tab">{{ trans("visiosoft.module.profile::field.fav_searches") }}</a>
                </li>
            </ul>
        </div>
        <div id="fav_tabs">
            <div class="tab-content">
                <div class="col-md-12 tab-pane active" role="tabpanel" id="fav_advs">
                    <div class="message-outer">
                        <h3>{{ trans("visiosoft.module.profile::field.fav_advs") }}</h3>
                        {% for adv in fav_advs %}
                            <div class="oc-item row">
                                <div class="item-image-box col-sm-4">
                                    <div class="item-image"><a href="">
                                                <img src="{{ adv.cover_photo }}" alt="Image"
                                                     class="img-respon sive">
                                        </a>
                                    </div>
                                </div>
                                <div class="item-info col-sm-8">
                                    <div class="ad-info">
                                        <h3 class="item-price">{{ adv.price }} {{ adv.currency }}</h3>
                                        <h4 class="item-title"><a href="/advs/adv/1">{{ adv.name }}</a></h4>
                                    </div>
                                    <div class="ad-meta">
                                        <div class="meta-content">
                                            <span class="dated">{{ trans('visiosoft.module.profile::field.posted_on') }}
                                                : <a href="#">{{ adv.created_at }}</a></span>
                                        </div>
                                        <div class="user-option pull-right">
                                            <a class="delete-item"
                                               href="{{ url_route('remove_fav_adv', [adv.id, 'adv']) }}"
                                               data-toggle="tooltip" data-placement="top" title=""
                                               data-original-title=""><i class="fa fa-times"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-12 tab-pane" role="tabpanel" id="fav_sellers">
                    <div class="message-outer">
                        <h3>{{ trans("visiosoft.module.profile::field.fav_sellers") }}</h3>
                        {% for seller in fav_sellers %}
                            <div class="oc-item row">
                                <div class="item-info col-sm-12">
                                    <div class="ad-info">
                                        <h3 class="item-price">{{ seller.first_name }} {{ seller.last_name }}</h3>
                                        <h4 class="item-title"><a
                                                    href="{{ url_route('visiosoft.module.advs::list') }}/?user={{ seller.id }}">{{ seller.username }}</a>
                                        </h4>
                                    </div>
                                    <div class="ad-meta">
                                        <div class="meta-content">
                                        </div>
                                        <div class="user-option pull-right">
                                            <a class="delete-item"
                                               href="{{ url_route('remove_fav_adv', [seller.id, 'adv']) }}"
                                               data-toggle="tooltip" data-placement="top" title=""
                                               data-original-title=""><i class="fa fa-times"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-12 tab-pane" role="tabpanel" id="fav_searches">
                    <div class="message-outer">
                        <h3>{{ trans("visiosoft.module.profile::field.fav_searches") }}</h3>
                        {% for fav_search in fav_searches %}
                            <div class="fav-search-section">
                                <a href="{{ app.request.getSchemeAndHttpHost() }}{{ fav_search.item_link }}"
                                   class="btn btn-success">{{ fav_search.item_name }}</a>
                                <a class="delete-item"
                                   href="{{ url_route('remove_fav_adv', [fav_search.id, 'search']) }}"
                                   data-toggle="tooltip" data-placement="top" title="" data-original-title=""><i
                                            class="fa fa-times"></i></a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--panel-body-end-->
</div>