<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#messagesPanel">
            {{ trans("visiosoft.module.profile::field.messages.name") }} ({{ message_count }})<span
                    class="pull-right"><i class="fa fa-plus"></i></span>
        </a>
    </h4>
</div>
<div id="messagesPanel" class="panel-collapse collapse">
    <!-- panel-body -->
    <div class="favs-outer">
        {% for message in myMessages %}
            <a href="{{ url_route('message_details', [message.id]) }}">
                <div class="message-box">
                    <div class="message-image">
                        {% if message.adv_photo == null %}
                            <i class="fa fa-user message-icon"></i>
                        {% else %}
                            <img src="{{ message.adv_photo }}" alt="">
                        {% endif %}
                    </div>
                    <div class="message-title">
                        <span class="gray-span">{{ trans("visiosoft.module.profile::field.message_title") }}: </span>
                        <span class="gray-span">{{ message.title }}</span><br>
                        <span>{{ message.adv_owner }}</span>
                    </div>
                    <div class="message-time">
                        <span>{{ message.created_at|date("d/m/Y") }}</span>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <!--panel-body-end-->
</div>