<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#ordersPanel">
            {{ trans("visiosoft.module.profile::field.menu_orders.name") }}<span class="pull-right"><i
                        class="fa fa-plus"></i></span>
        </a>
    </h4>
</div>
<div id="ordersPanel" class="panel-collapse collapse">
    <!-- panel-body -->
    <div id="favs-outer">
        <div class="ad-profile section">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a class="tab-btn" href="#my_purchase"
                                                          aria-controls="my_purchase" role="tab"
                                                          data-toggle="tab">{{ trans("visiosoft.module.profile::field.menu_my_purchase.name") }}</a>
                </li>
                <li role="presentation"><a class="tab-btn" href="#my_sales" aria-controls="my_sales" role="tab"
                                           data-toggle="tab">{{ trans("visiosoft.module.profile::field.menu_my_sales.name") }}</a>
                </li>
            </ul>
        </div>
        <div id="fav_tabs">
            <div class="tab-content">
                <div class="col-md-12 tab-pane active" role="tabpanel" id="my_purchase">
                    {% for key,order in myPurchase %}
                        <div class="card order-item">
                            <div class="row ">
                                <div class="col-md-4 text-center">
                                    <div class="cart-header order-number">{{ trans("visiosoft.module.profile::field.order_no.name") }}
                                        :
                                        <h4>#{{ order.id }}</h4></div>
                                    <div class="cart-header order-date">{{ trans("visiosoft.module.profile::field.order_date.name") }}
                                        :
                                        <h4>{{ order.created_at|date("m/d/Y") }}</h4></div>
                                </div>
                                <div class="col-md-6 px-3 card-order">
                                    <div class="card-block px-3 card-order-detail">
                                        <h4 class="card-title">{{ order.getBillAddress.adress_first_name }}
                                            {{ order.getBillAddress.adress_last_name }}</h4>
                                        <h5>
                                            <i class="fa fa-file-text-o"></i> {{ trans("visiosoft.module.profile::field.bill_address.name") }}
                                            :</h5>
                                        <p>{{ order.getBillAddress.adress_name }}</p>
                                        <h5>
                                            <i class="fa fa-truck"></i> {{ trans("visiosoft.module.profile::field.delivery_address.name") }}
                                            :</h5>
                                        <p>{{ order.getDeliveryAddress.adress_name }}</p>
                                    </div>
                                </div>
                                <div class="col-md-2 px-3 order-total text-center">
                                    <h4>{{ trans("visiosoft.module.profile::field.order_total.name") }}</h4>
                                    <h4>{{ order.total }} {{ order.currency }}</h4>
                                    <a href="{{ url_route('visiosoft.module.profile::profile_order',[order.id]) }}"
                                       class="btn btn-info">{{ trans("visiosoft.module.profile::field.order_detail.name") }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-12 tab-pane" role="tabpanel" id="my_sales">
                    {% for key,mysale in mySales %}
                        <div class="oc-item row adv12">
                            <div class="col-sm-12">
                                <div class="col-sm-8">
                                    <div class="orders-info">
                                        <h4 class="item-title">
                                            <a href="{{ mysale.detail_url }}"
                                               class="cut-max-title">{{ mysale.getSubject|slice(0, 30) }} ...</a>
                                        </h4>
                                        <div class="item-detail">
                                            <h4>{{ mysale.get_bill_address('adress_first_name') }}
                                                {{ mysale.get_bill_address('adress_last_name') }}</h4>
                                            <span class="status12">{{ mysale.get_bill_address('adress_gsm_phone') }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="item-order">
                                        <div class="item-detail padding-left-20">
                                            <h5 {% if mysale.status == 'awaiting_payment' %}
                                                class="warning-color"{% endif %}>
                                                <i class="fa fa-clock-o"></i> {{ trans("visiosoft.module.profile::field.awaiting_payment.name") }}
                                            </h5>
                                            <h5 {% if mysale.status == 'awaiting_tracking_number' %}
                                                class="warning-color"
                                                    {% endif %}><i
                                                        class="fa fa-truck"></i> {{ trans("visiosoft.module.profile::field.awaiting_tracking_number.name") }}
                                            </h5>
                                            <h5 {% if mysale.status == 'awaiting_payment_approval' or mysale.status == 'paid_buyer' %}
                                                class="warning-color"
                                                    {% endif %}><i
                                                        class="fa fa-cogs"></i> {{ trans("visiosoft.module.profile::field.awaiting_payment_approval.name") }}
                                            </h5>
                                            {% if mysale.status != 'cancelled' and mysale.status != 'error_buyer' %}
                                                <h5 {% if mysale.status == 'paid' %}
                                                    class="warning-color"
                                                        {% endif %}><i
                                                            class="fa fa-check"></i> {{ trans("visiosoft.module.profile::field.paid.name") }}
                                                </h5>
                                            {% else %}
                                                <h5 class="warning-color"><i
                                                            class="fa fa-times"></i> {{ trans("visiosoft.module.profile::field.cancelled.name") }}
                                                </h5>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ad-meta ad-meta2 position-relative col-sm-12">
                                <div class="meta-content seller-detail-1">
                                    <span class="dated">{{ trans("visiosoft.module.profile::field.order_no.name") }}: <a
                                                href="#">#{{ mysale.order_id }}-{{ mysale.id }}</a></span>
                                    <span class="dated">{{ trans("visiosoft.module.profile::field.order_date.name") }}: <a
                                                href="#">{{ mysale.created_at|date("m/d/Y") }}</a></span>
                                    <button class="btn btn-sm btn-success"
                                            onclick="window.location.href='/profile/my-sale/{{ mysale.id }}'"
                                            name="action" type="button">
                                        <i class="fa fa-eye "></i>
                                        {{ trans("visiosoft.module.profile::field.order_detail.name") }}
                                    </button>
                                </div>

                                <div class="user-option pull-right">
                                    {% if mysale.status == 'awaiting_tracking_number' %}
                                        <a class="add-transport-number" href="#" data-content="add-transport-number"
                                           data-toggle="tooltip" data-placement="top" title=""
                                           data-original-title="Add Tracking Number"><i class="fa fa-truck"></i>
                                        </a>
                                    {% endif %}
                                    <a class="report-error danger-color" href="#" data-toggle="tooltip"
                                       data-placement="top" title="" data-original-title="Error Reporting">
                                        <i class="fa fa-exclamation-triangle"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!--panel-body-end-->
</div>