<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#packagesPanel">
            {{ trans("visiosoft.module.profile::field.menu_packages.name") }}<span class="pull-right"><i
                        class="fa fa-plus"></i></span>
        </a>
    </h4>
</div>
<div id="packagesPanel" class="panel-collapse collapse">
    <div class="my-adress section">
        <a href="{{ url_route('visiosoft.module.packages::buy_package') }}" class="btn btn-sm btn-success">{{ trans('visiosoft.module.profile::field.buy_package.name') }}</a>
        {% for package in my_packages %}
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" colspan="2">{{ package.package.name }}</th>
                    <th scope="col">{{ trans('visiosoft.module.profile::field.expired_date.name') }}: {{ package.expired|date("d/m/Y") }}</th>
                </tr>
                </thead>
                <thead class="thead-default">
                <tr>
                    <th scope="col" style="width: 50%">{{ trans('visiosoft.module.profile::field.category.name') }}</th>
                    <th scope="col">{{ trans('visiosoft.module.profile::field.ad_limit.name') }}</th>
                    <th scope="col">{{ trans('visiosoft.module.profile::field.publish_time.name') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for entry in package.entry %}
                    <tr>
                        {% if(entry.cat_id == "0") %}
                            <td>{{ trans('visiosoft.module.profile::field.all_categories.name') }}</td>
                        {% else %}
                            <td>{{ entry.category.name }}</td>
                        {% endif %}
                        <td>{{ entry.remaining_ad_limit }}</td>
                        <td>{{ entry.time_limit }} {{ trans('visiosoft.module.profile::field.day.name') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
</div>