{{ asset_add('styles.css', 'visiosoft.field_type.media::less/upload.less') }}
{{ asset_add('scripts.js', 'visiosoft.field_type.media::js/dropzone.min.js') }}
{{ asset_add('scripts.js', 'visiosoft.field_type.media::js/upload.js') }}


<div id="upload">

    {% include "visiosoft.field_type.media::upload/partials/header" %}
    {% include "visiosoft.field_type.media::upload/partials/body" %}
    {% include "visiosoft.field_type.media::upload/partials/template" %}

    <div class="uploaded">
        {{ table.content|raw }}
    </div>

</div>
<script>

    var imageCount = {{ field_type.value|length < setting_value('visiosoft.module.advs::ads_image_limit')
    ? setting_value('visiosoft.module.advs::ads_image_limit') - field_type.value|length
    : 0 }}

    var settings_image = {
        'resize_width':"{{ setting_value('visiosoft.module.advs::full_image_width') }}",
        'resize_height':"{{ setting_value('visiosoft.module.advs::full_image_height') }}"
    };
</script>