{% extends page.theme_layout.key ?: page.type.theme_layout.key %}

{% block content %}
    {% block page %}
        {% if (request_path() == '/') %}
            {% include "theme::indexes/index" %}
        {% elseif (request_path() == 'contact') %}
            {% include "theme::page/contact" %}
        {% else %}
<section id="main">
    <div class="container">
        <div class="breadcrumb-section">
            <ol class="breadcrumb">
                <li><a href="/">{{ trans('visiosoft.module.advs::field.home') }}</a></li>
            </ol><!-- breadcrumb -->
            <h2 class="title">{{ content.title }}</h2>
        </div>
        <div class="section about">
            {{ content|raw }}
        </div>
    </div>
</section>
        {% endif %}
    {% endblock %}
{% endblock %}
{% block customjs %}


<script>
    function searchable_select(cat) {
        $("#searchable_category_input").val(cat);
    }
    //autocomplete
    var options = {
        url: function(phrase) {
            if (phrase.length > 2) {
                return "{{ url('keySearch') }}?q="+phrase;
            }
        },

        categories: [
            {   //Category fruits
                listLocation: "category",
                header: "<div class='text-center' style='border-bottom: 1px solid #ccc;'>{{trans(('visiosoft.module.advs::field.categories'))}}</div>"
            }
        ],
        getValue: "name",
        template: {
            type: "description",
            fields: {
                description: "parents"
            },
            method: function(value, item) {
                return "<a href='{{ url_route('visiosoft.module.advs::list') }}?cat="+item.id+"'>"+value+"</a>";
            }
        },
        list: {
            showAnimation: {
                type: "fade", //normal|slide|fade
                time: 400,
                callback: function() {}
            },
            hideAnimation: {
                type: "slide", //normal|slide|fade
                time: 400,
                callback: function() {}
            }
        },
        requestDelay: 500
    };
    $("#search_ac_navigator").easyAutocomplete(options);
</script>
    <style>
        .easy-autocomplete-container {
            width: 105% !important;
        }
    </style>
{% endblock %}