<div class="container-fluid mx-0 px-0">
    <div class="row mx-0 px-0">
        <div class="col-xs-24 mx-0 px-0">
            {% set name = user().first_name ~' '~ user().last_name %}
            {% if (user().first_name and user().last_name) %}
                {% set name = user().username %}
            {% endif %}
            <div class="top-bar">
                <div class="topbar-breadcrumb">{{ breadcrumb() }}</div>
                <div class="topbar-useraction">
                    <ul class="nav navbar-nav">
                        {% for shortcut in template.cp.shortcuts %}
                            <li class="nav-item shortcut {# dropdown #}">
                                <a {{ html_attributes(shortcut.attributes) }} {# data-toggle="dropdown" #}>
                                    {# <span class="tag tag-danger">{{ icon(shortcut.icon) }} 2</span> #}
                                    {{ icon(shortcut.icon) }}
                                </a>
                                {# <ul class="dropdown-menu-right dropdown-menu"> #}
                                {# <li class="dropdown-item"> #}
                                {# <a href="/" target="_blank"> #}
                                {# <i class="fa fa-external-link"></i> #}
                                {# {{ trans('theme::control_panel.view_site') }} #}
                                {# </a> #}
                                {# </li> #}
                                {# <li class="dropdown-item"> #}
                                {# <a href="/admin/logout"> #}
                                {# <i class="fa fa-power-off"></i> #}
                                {# {{ trans('theme::control_panel.logout') }} #}
                                {# </a> #}
                                {# </li> #}
                                {# </ul> #}
                            </li>
                        {% endfor %}
                        {{ addBlock('admin/topbar')|raw }}
                        <li class="nav-item dropdown floatright">

                            <a href="javascript:void(0);" data-toggle="dropdown">
                                <button class="btn user-action-dropdown dropdown-toggle none-border">
                                    {{ name|raw }}
                                </button>
                            </a>
                            <img src="{{ user().gravatar.path }}" width="47" class="rounded-circle">
                            <ul class="dropdown-menu-right dropdown-menu">
                                <li class="dropdown-item">
                                    <a href="/" target="_blank">
                                        <i class="fa fa-external-link"></i>
                                        {{ trans('theme::control_panel.view_site') }}
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="/admin/logout">
                                        <i class="fa fa-power-off"></i>
                                        {{ trans('theme::control_panel.logout') }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>