<div id="priceInput" class="d-flex mb-4 flex-wrap">
    <div class="mb-3 mr-2 mb-sm-0 select-price{{ hidePrice ? ' hidden' }}">
        <label>
            {{ form.fields.price.label|raw }}
            <span class="required">*</span>
        </label>

        <div class="col-12 priceHidden d-none">
            {{ form.fields.price.setAttributes({
                'required' :true
            }).input|raw }}
        </div>

        <div class="d-flex">
            <input type="text"
                   class="mt-3 border rounded text-right priceField whole-price"
                   placeholder="0" value="{{ priceValue }}">
            {% if setting_value('visiosoft.field_type.decimal::showDecimal') %}
                <input class="mt-3 border rounded text-center priceDecimalField decimal-price"
                       placeholder="00" type="text" maxlength="{{ setting_value('visiosoft.field_type.decimal::decimal_length') }}" value="{{ priceDecimalValue }}">
            {% endif %}

            <select name="currency" class="mt-3 border rounded" id="currency" required>
                {% for currency in config_get('streams::currencies.enabled') %}
                    <option value="{{ currency }}">
                        {{ currency == "TRY" ? currency_symbol(currency) : currency }}
                    </option>
                {% endfor %}
            </select>

        </div>
    </div>
</div>