{% if (setting_value('visiosoft.module.pricehistory::show_ad_details')) and params.show %}
    <div id="nav-pricehistory" class="tab-pane fade in">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ trans('visiosoft.module.pricehistory::field.date.name') }}</th>
                <th scope="col">{{ trans('visiosoft.module.pricehistory::field.price.name') }}</th>
                <th scope="col">{{ trans('visiosoft.module.pricehistory::field.sqft.name') }}</th>
            </tr>
            </thead>

            <tbody>
            {% set priceHistories = entries('pricehistory','history').where('adv_id', params.adv.id).orderBy('id','DESC').limit(8).get() %}
            {% set oldPrice = null %}
            {% set dates = [] %}
            {% set prices = []%}
            {% for pricehistory in priceHistories %}
                {% set dates = dates|merge([pricehistory.created_at|date('Y.m.d')]) %}
                {% set prices = prices|merge([""~pricehistory.price~""]) %}
                <tr {% if loop.index == 1 %} class="thead-dark" {% endif %}>
                    <td>{{ loop.index }}</td>
                    <td>{{ pricehistory.created_at }}</td>
                    <td>{{ currency_format(pricehistory.price,pricehistory.currency) }}</td>
                    <td>{% if loop.index != count(priceHistories) %}<font
                            class="{{ pricehistory.color }}-color">
                            {{ pricehistory.percent }}%</font>{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <canvas id="myChart" width="400" height="250"></canvas>

        <script>
            window.addEventListener('load', function () {
                var prices = {{ prices|json_encode|raw   }}
                var dates ={{ dates|json_encode|raw  }}
                var canvas = document.getElementById('myChart');
                var data = {
                    labels: dates,
                    datasets: [
                        {
                            label: "{{ trans('visiosoft.module.pricehistory::addon.title') }}",
                            fill: false,
                            lineTension: 0.1,
                            backgroundColor: "rgba(75,192,192,0.4)",
                            borderColor: "rgba(75,192,192,1)",
                            borderCapStyle: 'butt',
                            borderDash: [],
                            borderDashOffset: 0.0,
                            borderJoinStyle: 'miter',
                            pointBorderColor: "rgba(75,192,192,1)",
                            pointBackgroundColor: "#fff",
                            pointBorderWidth: 1,
                            pointHoverRadius: 5,
                            pointHoverBackgroundColor: "rgba(75,192,192,1)",
                            pointHoverBorderColor: "rgba(220,220,220,1)",
                            pointHoverBorderWidth: 2,
                            pointRadius: 5,
                            pointHitRadius: 10,
                            data: prices,
                        }
                    ]
                };

                var option = {
                    showLines: true
                };
                var myLineChart = Chart.Line(canvas, {
                    data: data,
                    options: option
                });
            })

        </script>

    </div>
    {{ asset_add('scripts.js', 'visiosoft.module.pricehistory::js/chart.min.js') }}

{% endif %}
