{% if setting_value('visiosoft.module.location::list_page_location') %}
    <div class="panel-default panel-faq">
        <div class="panel-heading active-faq">
            <a data-toggle="collapse" data-parent="#accordion" href="#accordion-location">
                <h4 class="panel-title">{{ trans("visiosoft.module.advs::field.location") }}
                    <span class="pull-right">
                        <i class="fa fa-minus"></i>
                    </span>
                </h4>
            </a>
        </div>

        <div id="accordion-location" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul id="list-items" class="filter-list-items">
                    <li>
                        <label class="label-filter-location">{{ trans("visiosoft.module.location::field.country.name") }}</label>
                        <select class="form-control" name="country" id="countries">
                            {% for country in countries %}
                                <option value="{{ country.id }}">{{ country.name }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li>
                        <label class="label-filter-location">{{ trans("visiosoft.module.location::field.city.name") }}</label>
                        <select class="form-control" name="city[]" id="cities" multiple>
                            {% for city in cities %}
                                <option value="{{ city.id }}">{{ city.name }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li>
                        <label class="label-filter-location">{{ trans("visiosoft.module.location::field.district.name") }}</label>
                        <select class="form-control" name="district" id="districts">
                            {% for district in districts %}
                                <option value="{{ district.id }}">{{ district.name }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li>
                        <label class="label-filter-location">{{ trans("visiosoft.module.location::field.neighborhood.name") }}</label>
                        <select class="form-control" name="neighborhood" id="neighborhoods">
                            {% for neighborhood in neighborhoods %}
                                <option value="{{ neighborhood.id }}">{{ neighborhood.name }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li>
                        <label class="label-filter-location">{{ trans("visiosoft.module.location::field.village.name") }}</label>
                        <select class="form-control" name="village" id="village">
                            {% for village in villages %}
                                <option value="{{ village.id }}">{{ village.name }}</option>
                            {% endfor %}
                        </select>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endif %}
{{ asset_add("scripts.js", "visiosoft.theme.base::js/filterLocation.js") }}
