<section class="home-banner">
    <div class="banner-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="car-info">
                    <ul class="socail list-inline">
                        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/intent/tweet?text={{ app.request.uri }}"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.uri }}"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                    <h1> {{ trans('visiosoft.theme.default::addon.welcome') }}</h1>

                    <a href="#" class="btn btn-primary">{{ trans('visiosoft.theme.default::addon.learn_more') }}</a>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-2">
                <div class="contact-form">
                    <h1>{{ trans('visiosoft.theme.default::addon.find_your_ad') }}</h1>
                    <div class="contact-info">
                        <form action="#">
                            <h3>{{ trans('visiosoft.theme.default::addon.vehicle_type') }}:</h3>
                            <div class="dropdown category-dropdown">
                                <a data-toggle="dropdown" href="#" aria-expanded="false"><span class="change-text">{{ trans('visiosoft.theme.default::addon.all') }}</span> <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu category-change">
                                    {% set cats = entries('advs','categories').where('parent_category_id', null).where('deleted_at', null).orderBy('order').get() %}                                    {% for cat in cats %}
                                        <li><a href="{{ url_route('visiosoft.module.advs::list') }}?cat={{ cat.id }}">{{ cat.name }}</a></li>
                                    {% endfor %}

                                </ul>
                            </div>
                            <h3>{{ trans('visiosoft.theme.default::addon.select_makes') }}</h3>
                            <div class="dropdown category-dropdown">
                                <a data-toggle="dropdown" href="#" aria-expanded="false"><span class="change-text">{{ trans('visiosoft.theme.default::addon.all') }}</span> <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu category-change">
                                    {% for cat in cats %}
                                        <li><a href="{{ url_route('visiosoft.module.advs::list') }}?cat={{ cat.id }}">{{ cat.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <h3>Model:</h3>
                            <div class="dropdown category-dropdown">
                                <a data-toggle="dropdown" href="#" aria-expanded="false"><span class="change-text">{{ trans('visiosoft.theme.default::addon.all') }}</span> <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu category-change">
                                    {% for cat in cats %}
                                        <li><a href="{{ url_route('visiosoft.module.advs::list') }}?cat={{ cat.id }}">{{ cat.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <button type="submit" class="form-control" value="Search">{{ trans('visiosoft.theme.default::addon.search') }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- row -->
    </div><!-- container -->
</section>