<div class="section trending-ads">
    <div class="section-title tab-manu">
        <h4>{{ trans('visiosoft.theme.default::fields.trending_ads') }}</h4>


    </div>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- tab-pane -->
        <div role="tabpanel" class="tab-pane fade in active" id="recent-ads">

            <!-- ad-item -->
            {% set latest_advs = entries('advs').latestAdvs() %}
            {% for adv in latest_advs %}
                <div class="ad-item row main-page-ad-item">
                    <div class="item-image-box col-sm-4">
                        <!-- item-image -->
                        <div class="item-image">
                                <a href="{{ url('advs/adv/' ~ adv.id)}}"><img src="{{ adv.cover_photo }}" alt="{{ adv.name }}" class="img-respocive"></a>
                        </div><!-- item-image -->
                    </div><!-- item-image-box -->

                    <!-- rending-text -->
                    <div class="item-info col-sm-8">
                        <!-- ad-info -->
                        <div class="ad-info">
                            <h3 class="item-price">{{ adv.priceFormat(adv) }} {{ adv.currency }}</h3>
                            <h4 class="item-title bengali"><a href="{{ adv.detail_url }}">{{ adv.name }}</a></h4>
                            <div class="item-cat">
                                {% set cats = entries('advs','categories').where('parent_category_id', null).where('deleted_at', null).orderBy('order').get() %}                                {% for cat in cats %}
                                    {% if cat.id == adv.cat1[0].value %}
                                        <span><a href="#">{{ cat.title }}</a></span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div><!-- ad-info -->

                        <!-- ad-meta -->
                        <div class="ad-meta">
                            <div class="meta-content">
                                <span class="dated"><a href="#">{{ adv.created_at|date('Y.m.d') }} </a></span>
                            </div>
                            <!-- item-info-right -->
                            <div class="user-option pull-right">
                                {% if adv.is_get_adv == "1" %}
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="{{ adv.city_name }}, {{ adv.country_name }}"><i class="fa fa-shopping-cart"></i> </a>
                                {% endif %}
                                <a href="#" data-toggle="tooltip" data-placement="top" title="{{ adv.city_name }}, {{ adv.country_name }}"><i class="fa fa-map-marker"></i> </a>
                            </div><!-- item-info-right -->
                        </div><!-- ad-meta -->
                    </div><!-- item-info -->
                </div><!-- ad-item -->
            {% endfor %}


        </div><!-- tab-pane -->

        <!-- tab-pane -->
        <div role="tabpanel" class="tab-pane fade" id="popular">
            {% set popular_advs = entries('advs').popularAdvs() %}

            {% for adv in popular_advs %}
                <div class="ad-item row">
                    <div class="item-image-box col-sm-4">
                        <!-- item-image -->
                        <div class="item-image">
                                <a href="{{ url('advs/adv/' ~ adv_of_days.id)}}"><img src="{{ adv.cover_photo }}" alt="{{ adv.name }}" class="img-respocive"></a>
                            {% if adv.is_get_adv == "1" %}
                                <a href="#" class="verified" data-toggle="tooltip" data-placement="top" title="Get ilanı"><i class="fa fa-check-square-o"></i></a>
                            {% endif %}
                        </div><!-- item-image -->
                    </div><!-- item-image-box -->

                    <!-- rending-text -->
                    <div class="item-info col-sm-8">
                        <!-- ad-info -->
                        <div class="ad-info">
                            <h3 class="item-price">{{ adv.priceFormat(adv) }}{{ adv.currency }}</h3>
                            <h4 class="item-title bengali"><a href="{{ adv.detail_url }}">{{ adv.name }}</a></h4>
                            <div class="item-cat">
                                {% for cat in cats %}
                                    {% if cat.id == adv.cat1[0].value %}
                                        <span><a href="#">{{ cat.title }}</a></span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div><!-- ad-info -->

                        <!-- ad-meta -->
                        <div class="ad-meta">
                            <div class="meta-content">
                                <span class="dated"><a href="#">{{ adv.created_at|date('Y.m.d') }} </a></span>
                            </div>
                            <!-- item-info-right -->
                            <div class="user-option pull-right">
                                {% if adv.is_get_adv == "1" %}
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="{{ trans('visiosoft.module.advs::field.online_shopping') }}"><i class="fa fa-shopping-cart"></i> </a>
                                {% endif %}
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Los Angeles, USA"><i class="fa fa-map-marker"></i> </a>
                            </div><!-- item-info-right -->
                        </div><!-- ad-meta -->
                    </div><!-- item-info -->
                </div><!-- ad-item -->
            {% endfor %}
        </div><!-- tab-pane -->
    </div>
</div>