{% set district = getDistrict(adv.district.getObject().value) %}
{% set neighborhood = getNeighborhood(adv.neighborhood.getObject().value) %}
<div class="slider-text">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 offered-field offered-row p-0">
        <h3 class="ad-price">
            <b>{{ adv.price.currency(null,'currency') }}</b>

            {{ addBlock('ad-detail/details',{'adv':adv,'theme':'sahibinden'})|raw }}

            <!-- priceField with Block -->
            {{ addBlock('ad-detail/priceField',{'adv':adv})|raw }}
            <!-- priceField with Block -->

        </h3>
        <h2 class="d-none d-sm-block">
            {% set lastCatId = categories|last['id'] %}
            {% if setting_value('visiosoft.theme.sahibinden::show_country') %}
                {{ adv.country_name }}
                <span>/</span>
            {% endif %}
            <a href="{{ url_route('visiosoft.module.advs::list') }}?city[]={{ adv.city }}&cat={{ lastCatId }}"
               class="link-unstyled">
                {{ adv.city_name }}
            </a>
            {% if district %}
                <span>/</span>
                <a href="{{ url_route('visiosoft.module.advs::list') }}?city[]={{ adv.city }}&district[]={{ district.id }}&cat={{ lastCatId }}"
                   class="link-unstyled">
                    {{ district.name }}
                </a>
            {% endif %}
            {% if neighborhood %}
                <span>/</span>
                <a href="{{ url_route('visiosoft.module.advs::list') }}?city[]={{ adv.city }}&district[]={{ district.id }}&neighborhood[]={{ neighborhood.id }}&cat={{ lastCatId }}"
                   class="link-unstyled">
                    {{ neighborhood.name }}
                </a>
            {% endif %}
        </h2>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 d-none d-sm-block">
        <ul class="list-unstyled classified-detail">
            <li class="row m-0">
                <div class="col-md-6 p-0 m-0 font-weight-bold">{{ trans('visiosoft.module.advs::field.ad_id') }}</div>
                <div class="col-md-6 p-0 m-0 text-danger">{{ adv.id }}</div>
            </li>
            <li class="row m-0">
                <div class="col-md-6 p-0 m-0 font-weight-bold">{{ trans('visiosoft.theme.sahibinden::field.ad_date.name') }}</div>
                <div class="col-md-6 p-0 m-0">{{ adv.created_at|date('d/m/Y') }}</div>
            </li>
            {{ addBlock('ad-detail/content',{'features_detail':features,'adv':adv})|raw }}
            <li class="row m-0">
                <div class="col-md-6 p-0 m-0 font-weight-bold">{{ trans('visiosoft.module.advs::field.views') }}</div>
                <div class="col-md-6 p-0 m-0 font-weight-bold viewed-ad-count">{{ adv.count_show_ad }}</div>
            </li>
        </ul>
    </div>
</div>