<div class="col-md-6 slider-box pl-0">
    {% if blocks('ad-item-picture-block-area') is null %}
        <div class="fotorama"
             data-width="700"
             data-arrows="true"
             data-allowfullscreen="true"
             data-ratio="3/2"
             data-nav="thumbs"
             data-thumbheight="48">

            {% set advPhoto = '' %}
            {% if count(adv.files) == 0 %}
                {% set advPhoto = img('visiosoft.module.advs::images/no-image.png').url %}
                <a href="{{ image }}"><img src="{{ img('visiosoft.module.advs::images/no-image.png').url }}"></a>
            {% else %}
                {% for image in adv.getViewPhotoUrl %}
                    <a href="{{ image }}"><img src="{{ image }}"></a>
                    {% if loop.index == 1 %}
                        {% set advPhoto = image %}
                    {% endif %}
                {% endfor %}

            {% endif %}
        </div>
        <div class="position-absolute w-100 row pl-3 slider-controller-bar">
            <div class="col-12 bg-light row m-0 py-1">
                <div class="col-6">
                    <a href="#" class="a-sahibinden-type" onclick="fotorama.requestFullScreen()">
                        <i class="fas fa-search"></i>
                        {{ trans('visiosoft.theme.sahibinden::field.mega_photo.name') }}
                    </a>
                </div>
                <div class="col-6 text-right">
                    <button class="{% if adv.video_url %}a-sahibinden-type{% else %} text-secondary {% endif %} border-0 bg-light"
                            data-toggle="modal" data-target="#adv-video" {% if adv.video_url is null %}disabled{% endif %}>
                        <i class="fas fa-video"></i>
                        {{ trans('visiosoft.theme.sahibinden::field.video.name') }}
                    </button>
                </div>
            </div>
        </div>
    {% else %}
        {{ blocks('ad-item-picture-block-area') }}
    {% endif %}
    {{ asset_add("styles.css", "visiosoft.module.advs::css/fotorama.css") }}
</div>
{% if adv.video_url %}
    <div class="modal fade video-wrapper-modal" id="adv-video" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="close-modal text-right">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">X
                    </button>
                </div>
                <div class="modal-body">
                    <video controls loop class="img-responsive"
                           style="text-align: center; width: 100%">
                        <source src="{{ adv.video_url }}" class="video-src"
                                type="video/mp4"/>
                    </video>
                </div>
            </div>
        </div>
    </div>
    {{ asset_add("scripts.js", "visiosoft.module.cloudinary::js/close-btn.js") }}
{% endif %}
{{ asset_add("scripts.js", "visiosoft.module.advs::js/fotorama.js") }}
{{ asset_add("scripts.js", "visiosoft.theme.sahibinden::js/slider.js") }}
