{% set home_ad_height = setting_value('visiosoft.theme.sahibinden::home_ad_height') %}

<div class="row home-container mt-3">
    <div class="col-12 d-block d-sm-none">
        {% if setting_value('visiosoft.theme.sahibinden::show_search_banner') and agent_is_mobile() %}
            <div class="content text-center px-2 home-banner">
                <div id="search-banner-wrapper">
                    <form action="{{ url_route('visiosoft.module.advs::list') }}" method="get"
                          id="searchBannerFormMobile"
                          rel="nofollow">
                        {% include "visiosoft.theme.sahibinden::partials/ad-search-banner" %}
                    </form>
                </div>
            </div>
        {% endif %}
        {% if setting_value('visiosoft.theme.sahibinden::show_banner') %}
            <div class="content text-center p-2 home-banner">
                {% set slides = page.homepage_banner_slider %}
                {% if slides and count(slides) %}
                    <div id="slideShowCarouselweb" class="carousel slide" data-ride="carousel" data-pause="false">
                        <ol class="carousel-indicators mb-0 mb-sm-3">
                            {% for i in 0..count(slides) - 1 %}
                                <li data-target="#slideShowCarouselweb" {% if loop.first %}class="active"{% endif %}
                                    data-slide-to="{{ i }}"></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for slide in slides %}
                                <div class="carousel-item {% if loop.first %}active{% endif %}">
                                    <img class="d-block w-100" src="{{ file(slide.toArray()['slider_image']).make.url }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    {% set mobile_banner = file(setting_value('visiosoft.theme.sahibinden::banner_mobile')).make.url %}
                    {% if mobile_banner is null %}
                        {% set mobile_banner = img('visiosoft.theme.sahibinden::images/banner-mobile.png').url %}
                    {% endif %}
                    <a href="{{ setting_value('visiosoft.theme.sahibinden::banner_mobile_link') }}"
                       {% if setting_value('visiosoft.theme.sahibinden::banner_link_new_tab') == true %}target="_blank" {% endif %}>
                        <img class="d-block d-sm-none" src="{{ mobile_banner }}" alt="banner image">
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% if setting_value('visiosoft.theme.sahibinden::left_menu_side') == 'left' %}
        {% include "visiosoft.theme.sahibinden::partials/categories" %}
    {% endif %}
    <!-- Showcase Mobile Area -->
    <div class="col-12 d-block d-sm-none mt-4">
        <div class="col">
            <h5 class="p-0 latest-title mb-0 border-bottom">{{ trans('visiosoft.theme.sahibinden::field.latest_ads') }}</h5>
        </div>
        <div class="container">
            <div class="row list-classified-home">
                {% for latest in latestAds() %}
                    <div class="col-6 d-flex align-items-stretch p-0 home-classified-row">
                        <div class="mx-auto card mb-1 box-shadow border-0">
                            <div class="row px-1 py-2 classified-image">
                                <a href="{{ latest.detail_url }}">
                                    <div class="col-md-12 justify-content-center align-self-center">
                                            <img class="card-img-top img-fluid img-thumbnail lazy"
                                                 data-src="{{ latest.thumbnail }}" alt="{{ latest.name }}"
                                                 src="{{ img('visiosoft.theme.sahibinden::images/no-image.png').url }}">
                                    </div>
                                </a>
                            </div>

                            <div class="card-body px-2 py-0 classified-subject">
                                <div class="d-flex justify-content-between align-items-center text-truncate">
                                    <a href="{{ latest.detail_url }}" class="">
                                        <span class="card-title">{{ latest.name }}</span>
                                    </a>
                                </div>
                                {% include "visiosoft.theme.sahibinden::partials/ad-card-footer" with {"adv": latest} %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {{ setting_value('visiosoft.theme.sahibinden::home_bottom_mobile')|raw }}
    </div>
    <!-- Showcase Mobile Area -->

    <!-- Showcase Web Area -->
    <div class="col-md-9 d-none d-sm-inline-block">
        {% if setting_value('visiosoft.theme.sahibinden::show_search_banner') %}
            <div class="content text-center px-2 home-banner">
                <div id="search-banner-wrapper">
                    <form action="{{ url_route('visiosoft.module.advs::list') }}" method="get" id="searchBannerForm"
                          rel="nofollow">
                        {% include "visiosoft.theme.sahibinden::partials/ad-search-banner" %}
                    </form>
                </div>
            </div>
        {% endif %}
        {% if setting_value('visiosoft.theme.sahibinden::show_banner') %}
            <div class="content text-center px-2 home-banner">
               {% set slides = page.homepage_banner_slider %}
                {% if slides and count(slides) %}
                    <div id="slideShowCarousel" class="carousel slide" data-ride="carousel" data-pause="false">
                        <ol class="carousel-indicators mb-0 mb-sm-3">
                            {% for i in 0..count(slides) - 1 %}
                                <li data-target="#slideShowCarousel" {% if loop.first %}class="active"{% endif %}
                                    data-slide-to="{{ i }}"></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for slide in slides %}
                                <div class="carousel-item {% if loop.first %}active{% endif %}">
                                    <img class="d-block w-100" src="{{ file(slide.toArray()['slider_image']).make.url }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    {% set web_banner = file(setting_value('visiosoft.theme.sahibinden::banner_web')).make.url %}
                    {% if web_banner is null %}
                        {% set web_banner = img('visiosoft.theme.sahibinden::images/home-banner.png').url %}
                    {% endif %}
                    <!-- Demo Banner -->
                    <a href="{{ setting_value('visiosoft.theme.sahibinden::banner_web_link') }}"  target="{{setting_value('visiosoft.theme.sahibinden::banner_link_new_tab') ? _blank : _self }}">
                        <img class="d-none d-sm-inline-block banner-web" src="{{ web_banner }}" alt="banner image">
                    </a>
                {% endif %}
            </div>
        {% endif %}

        <div class="latest-ads-home">
            <div class="home-page-ads-area px-2 mt-3">
                {{ setting_value('visiosoft.theme.sahibinden::home_top_latestAds')|raw }}
            </div>
            <div class="row pl-2 pt-2 pr-2 pb-0 header-home-centent mb-2">
                <div class="col">
                    <h3 class="p-0 latest-title">{{ trans('visiosoft.theme.sahibinden::field.latest_ads') }}</h3>
                </div>
                <div class="col text-right">
                    <a class="a-sahibinden-type"
                       href="{{ url_route('visiosoft.module.advs::list') }}">{{ trans('visiosoft.theme.sahibinden::field.show_all') }}</a>
                </div>
            </div>
            <div class="container">
                <div class="row list-classified-home">
                    {% for latestAd in latestAds() %}
                        <div class="col-3 col-lg-2 d-flex align-items-stretch py-0 home-classified-row px-1">
                            <div class="card border rounded-0">
                                <div class="py-1 classified-image">
                                    <a href="{{ latestAd.detail_url }}">
                                        <div class="position-relative text-center">
                                                <img class="card-img-top img-fluid img-thumbnail lazy border-0"
                                                     style="height: {{ home_ad_height }}px;"
                                                     data-src="{{ latestAd.thumbnail }}" alt="{{ latestAd.name }}"
                                                     src="{{ img('visiosoft.theme.sahibinden::images/no-image.png').url }}">
                                        </div>
                                    </a>
                                </div>

                                <div class="card-body px-2 py-0 classified-subject">
                                    <div class="d-flex justify-content-between align-items-center text-truncate">
                                        <a href="{{ latestAd.detail_url }}">
                                            <p class="card-title mb-1 text-truncate">{{ latestAd.name }}</p>
                                        </a>
                                    </div>
                                    {% include "visiosoft.theme.sahibinden::partials/ad-card-footer" with {"adv": latestAd} %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="home-page-ads-area px-2 mt-3">
                {{ setting_value('visiosoft.theme.sahibinden::home_bottom_latestAds')|raw }}
            </div>
        </div>

        <div class="home-page-ads-area p-2">
            {{ setting_value('visiosoft.theme.sahibinden::home_bottom')|raw }}
        </div>


        <div class="row home_page_multiple_ad">
            <div class="col-12 col-md-7">
                {{ setting_value('visiosoft.theme.sahibinden::home_bottom_col_1')|raw }}
            </div>

            <div class="col-12 col-md-5">
                {{ setting_value('visiosoft.theme.sahibinden::home_bottom_col_2')|raw }}
            </div>
        </div>


    </div>
    <!-- Showcase Web Area -->
    {% if setting_value('visiosoft.theme.sahibinden::left_menu_side') == 'right' %}
        {% include "visiosoft.theme.sahibinden::partials/categories" %}
    {% endif %}
</div>
<script>
    var show_all_text = `{{ trans('visiosoft.theme.sahibinden::button.show_all') }}`;
    var close_text = `{{ trans('visiosoft.theme.sahibinden::button.hidden.name') }}`;
</script>
